[2017-10-09 16:00] mpawlowski85 opened #812 "[Data] The Signed by UNICEF field is empty"
Workspcae: Lebanon
Intervention: https://etools-staging.unicef.org/pmp/interventions/269/review-and-sign
Agreement: https://etools-staging.unicef.org/pmp/agreements/74/details

You can see that PROD has data in the field, but in staging it is empty.

[2017-10-09 16:06] mpawlowski85 opened #813 "[Data] Monitoring Visits are no longer linked to PDs"
There are much less monitoring visits linked to PDs in staging, than in production.
example:
Lebanon
Staging: https://etools-staging.unicef.org/pmp/interventions/63/overview - 1 visit
Prod: https://etools.unicef.org/pmp/interventions/63/overview - 290 visits

Other examples in Lebanon, where there is discrepancy in Staging vs. Prod:
https://etools-staging.unicef.org/pmp/interventions/351/overview

[2017-10-09 17:26] marindikanovic opened #814 "Map Yemen CO workspace users to UAT."
There are 201 users that are mapped to the Yemen CO workspace (in Production). Could you please map them to UAT as we don't want them to enter any data in the Yemen CO workspace?Thank you.

[2017-10-09 17:40] mpawlowski85 opened #815 "[Data] Error: Old/Expired CP Structure"
For those records, that went past the CP duration, there is an error message that states that the CP Structure is Old/Expired. The user cannot see what CP Structure the record is assigned to:
![image](https://user-images.githubusercontent.com/26120371/31351007-5f38b50c-acf7-11e7-948c-710e45b8b74e.png)

Example in Lebanon:
Agreement: https://etools-staging.unicef.org/pmp/agreements/291/details
Inte

[2017-10-09 19:33] mpawlowski85 commented on #794
passed in staging

[2017-10-09 19:33] mpawlowski85 commented on #800
Passed in staging

[2017-10-09 19:36] mpawlowski85 commented on #793
passed in staging

[2017-10-09 19:37] mpawlowski85 commented on #802
as #793 has fixed the issue, this card is closed.

[2017-10-09 19:37] #802 closed

[2017-10-09 19:40] mpawlowski85 commented on #803
Seems to be fixed in staging. movig to accepted.

[2017-10-09 19:42] mpawlowski85 commented on #808
I cannot reproduce the issue. Marking this as accepted, and we can revisit if/when the issue is reported again.

[2017-10-09 19:45] mpawlowski85 commented on #693
passed in staging (IE)

[2017-10-09 19:46] mpawlowski85 commented on #777
Passed in staging

[2017-10-09 19:48] mpawlowski85 commented on #761
passed in staging

[2017-10-09 19:51] mpawlowski85 commented on #789
passed in staging

[2017-10-09 19:54] mpawlowski85 commented on #762
All front end changes were completed. The backend label was not changed (as agreed during prioritization).  Moving to accepted.

[2017-10-09 19:54] mpawlowski85 commented on #754
passed in staging

[2017-10-09 19:55] mpawlowski85 commented on #771
passed in staging

[2017-10-09 20:02] mpawlowski85 commented on #780
passed in staging

[2017-10-09 20:03] mpawlowski85 commented on #801
@evrimm  - can you please test this?

[2017-10-09 20:05] mpawlowski85 commented on #788
Uma working on the issue. Expected delivery for testing: 9-Oct

[2017-10-09 20:06] mpawlowski85 commented on #529
@evrimm Can you please test this?

[2017-10-09 20:06] mpawlowski85 commented on #526
Passed in staging (chrome)

[2017-10-09 20:25] mpawlowski85 opened #816 "[UAT] Change order of fields for FRs in Admin"
Can we please order the FR fields on the Admin panel:
FR Overall Amount
Current FR Amount
Actual Cash Transfer
Outstanding DCT

[2017-10-09 20:26] mpawlowski85 commented on #699
#816 was created for the other part of this card

[2017-10-09 20:32] mpawlowski85 commented on #806
@daniel-tabarcea please do not fix in the front end - this should be a permission matrix update.
cheers! M.

[2017-10-09 20:47] mpawlowski85 opened #817 "[UAT] CP Indicator Field - not editable in Signed or Active"
The CP Indicator Field was supposed to be editable in  Signed and Active statuses, however, you cannot do it in either of those statuses.

[2017-10-09 21:18] evrimm commented on #801
@mpawlowski85 I believe this is a code change that has no visual implications. However, @adi130987 while i was testing, I realized the accent color is  #40C4FF. I am not sure, why?
Now we have 3 different blues... The UNICEF blue which we use across many elements which is #0099FF, the UPLOAD file button which is #00ACFF at the moment. I think they should all be the same.

[2017-10-09 21:29] evrimm commented on #529
passed

[2017-10-09 21:30] evrimm commented on #398
passed

[2017-10-10 06:36] adi130987 commented on #817
@mpawlowski85 in the permission matrix we have only one edit flag for this: `result_links`, but we can make some changes on frontend and make the field editable if needed.

[2017-10-10 06:39] adi130987 commented on #801
@evrimm you're right. I'll check the style guide and set the correct colors.

[2017-10-10 08:42] adi130987 commented on #815
@mpawlowski85 we had a similar issue on agreements page regarding this field.

The field from screenshot is a dropdown in readonly state that doesn't have the expired CPs as options. The expired CP Structure cannot be in the dropdown's options according PMP Redesign CP Structure filtering rules.

A solution to fix issue is to show the expired CP Structure as readonly field with an edit icon button

[2017-10-10 12:48] roxanavlad commented on #778
@daniel-tabarcea
test result: pass
tested on dev on Chome and IE 11

[2017-10-10 13:55] roxanavlad commented on #791
@daniel-tabarcea
fixed. tested on dev on Chrome and IE 11

[2017-10-10 14:01] janpanchalingam1 commented on #658
Passed testing

[2017-10-10 14:18] ShrinivasPuranik commented on #817
wait for PRP integration?
Data migration?

Schedule it End of Nov

[2017-10-10 14:19] ewheeler commented on #816
see previous discussion here: https://github.com/unicef/etools-issues/issues/699

[2017-10-10 14:19] ShrinivasPuranik commented on #816
Limited user impact only Administrators will see this

Nice to have feature but not necessary

[2017-10-10 14:32] ShrinivasPuranik commented on #798
Email or Phone no only.  Partner reporting  will need email id for user id

only for authoring officer and focal points contacts.

[2017-10-10 14:33] ewheeler commented on #796
see previous discussion: https://github.com/unicef/etools-issues/issues/764

[2017-10-10 14:35] ShrinivasPuranik commented on #795
How many countries are using from previous country programs? needed for amending PDs.

[2017-10-10 14:51] ShrinivasPuranik commented on #751
to be prioritized after PMP-Redesign

[2017-10-10 15:01] ShrinivasPuranik commented on #729
Need level of effort to determine scheduling for next release.

[2017-10-10 15:05] anusenan commented on #788
Still open ..awaiting updates from Uma's team

[2017-10-10 17:08] mpawlowski85 opened #818 "Palestine PCA - no Year in generated PCA template"
If you generate a PCA in Palestine, the programme from/to years do not appear.

![bug_301_richcontentimage_1352737449](https://user-images.githubusercontent.com/26120371/31399989-10e26694-adbc-11e7-82fd-1ce041317788.png)

[2017-10-10 17:16] mpawlowski85 opened #819 "The Submitted to PRC tickbox is automatically un-ticked on save ALM 300"
Steps to reproduce:
-Create a Draft PD.
-Fill all the required fields.
-Go to Review & Sign Tab.
-Click/Check on the Submitted to PRC checkbox.
-Don't update the "Submission Date to PRC" and "Review Date by PRC".
-Only upload PRC review document.
-Hit SAVE.

Result:
-The "Submitted to PRC" checkbox gets unchecked.
-"Submission Date to PRC", "Review Date by PRC" and attachment fields get hidden.

E

[2017-10-10 17:22] mpawlowski85 commented on #819
@adi130987 @daniel-tabarcea is this a front end issue?

[2017-10-10 17:28] ewheeler commented on #819
possibly related to https://github.com/unicef/etools-issues/issues/693

[2017-10-10 17:29] mpawlowski85 opened #820 "Ability to transition status to Closed, even thought the criteria is not met ALM 299"
Create a Draft or Signed PD with End Date in the past.
2. Add an FR with at least one or the following is true:
    a. Outstanding DCT > 0.00
    b. Current FR Amount <> Actual Cash Transfer
    c. Current FR Amount = Actual Cash Transfer and Current FR Amount/Actual Cash Transfer > 100,000.00
3. Save. Status changes from Draft/Signed directly to Closed.

PD: JOR/PCA2017174/PD2017177
FR: 000000003

[2017-10-10 17:35] mpawlowski85 opened #821 "Ability to Delete Section/Location data ALM 298"
Browser: Chome
Workspace: Jordan

1. Open a Signed/Active PD
2. Add an Amendment
3. Delete "Section/Cluster, Location" entry.
4. Message, "Are you sure you want to delete this item?", is displayed. Click on Yes.
5. Click on Save. Message, "Please add section location data."
6. Click on Refresh and choose to refresh data for "PD/SSFA data".

Result:
7. Open the same PD. Notice that "Section/Cluster

[2017-10-10 18:35] mpawlowski85 commented on #779
I checked this in staging and the toast message no longer appears, but there is an error that still displays on save:

[2017-10-10 18:54] mpawlowski85 opened #822 "No ability to amend authorized officer for an SSFA"
The original specs asked for the ability to amend an authorized officer in SSFA.

![image](https://user-images.githubusercontent.com/26120371/31404805-1852574a-adcb-11e7-9fed-8891e0a65124.png)

[2017-10-10 19:25] mpawlowski85 opened #823 "Start/End Dates invalid error shown"
When 2 FRs are added, one of which does not pass the dates validation and the other one does, then there is an error message displayed on the list, but not on the details page.
Example:
Pakistan: https://etools-staging.unicef.org/pmp/interventions/49/details

![image](https://user-images.githubusercontent.com/26120371/31406363-14874914-adcf-11e7-9c13-a0c9301115bc.png)

List view:
![image](https://

[2017-10-10 19:26] mpawlowski85 commented on #823
@adi130987 @daniel-tabarcea - is this only a front end issue? It's weird how the error shows on the list, but no on the details page...

[2017-10-10 19:53] #797 closed

[2017-10-11 06:43] adi130987 commented on #819
Yes @ewheeler, it's related to #693.
@mpawlowski85 the `Submitted to PRC` is a computed field on BE and it's returned `true`(`checked`) if there is a `Submission Date to PRC`. We need to improve this condition, maybe check all 3 PRC fields before setting this flag. @robertavram @csabadenes ?

[2017-10-11 07:01] adi130987 commented on #821
@mpawlowski85 deleting a section-location item is made using an endpoint, by section-location item ID and can be made any time delete icon button is available.

The message `Please add section location data.` is shown because at least a section-location item is required to save the PD in `signed | active` status.

We could make changes on frontend regarding this but in PRP integration we will not

[2017-10-11 07:09] adi130987 opened #824 "PRP Integration code cleanup"
TODOs - remove mockup data use and unnecessary toasts/logs msgs , check API request for:
* PD progress &  reports tabs:
* Reports list
* Reports details tabs
* PD details, expected results, cluster indicators
* Report indicator element

[2017-10-11 07:41] adi130987 commented on #822
@mpawlowski85 during agreement permissions implementation we had some specs to remove some fields from agreements SSFA type, including `Amendments` (#561). Later `Authorized Officers` has been unhidden for SSFA... you need to discuss this with @ntrncic and @robertavram.

[2017-10-11 07:46] adi130987 commented on #823
@mpawlowski85 just checked. The errors are showing

![screenshot from 2017-10-11 10 45 25](https://user-images.githubusercontent.com/1955740/31427866-7a60f3f0-ae71-11e7-9f2d-02618b38a19a.png)
![screenshot from 2017-10-11 10 45 21](https://user-images.githubusercontent.com/1955740/31427868-7a80faf6-ae71-11e7-8c90-cba6454dec75.png)

[2017-10-11 10:22] adi130987 opened #825 "Reports list"
Reports list element to be used in PD reports tab or main reports page(for all PDs)

[2017-10-11 11:50] daniel-tabarcea commented on #497
@ntrncic @robertavram is this issue still relevant?  i think it's out of its place in needs review, maybe we should move it to the backlog

[2017-10-11 12:40] daniel-tabarcea commented on #670
Steps to Reproduce:
- Go to the current user in the admin
- Check that user has Partnership Manager privileges
- Go to the partners list page
- Check that "Add new partner" button is visible
- Go back to admin and remove Partnership Manager from current user
- Go back to the partners list

Expected: Add new Partner button has disappeared
Result:  Button still visible and is there until a complete

[2017-10-11 13:27] adi130987 commented on #801
@evrimm you can check the colors again... I made some colors improvements according with the style guide.

[2017-10-11 13:56] mpawlowski85 commented on #823
HI Adi - yes - you would have seen the errors now, because the FR got updated overnight, so you were too late to see the error in a manner of speaking.
Our QA team independently spotted this behaviour as well.

The ticket from QA had this description:
For Multiple FRs added to the system:
1. FR Start date: Check all of the start dates and compare the to the earliest of the dates
2. FR End date: Ch

[2017-10-11 14:54] evrimm commented on #801
@adi130987 I still see the same colors.
![screen shot 2017-10-11 at 10 53 18 am](https://user-images.githubusercontent.com/1585349/31448466-83792934-ae72-11e7-8bd6-077fb65fec3d.png)

[2017-10-11 15:10] mpawlowski85 opened #826 "Additional Changes to CSO Dashboard"
- [ ] % disbursement - include the comma separator
- [ ] % disbursement - round up to the nearest dollars
- [ ] % disbursement - % calc should be taken from the bacend API (infinity thing)
- [ ] default view - signed|active|ended|suspended|terminated

- [ ] The export does not bring in Section and Field Office

On Hold:

- [ ] Use the return date for "Days since last PV calc"

[2017-10-11 15:12] adi130987 commented on #801
@evrimm it's not on staging, the changes can be seen on dev.

[2017-10-11 15:56] evrimm commented on #801
@adi130987 oh ok, looks good.

[2017-10-11 16:23] mpawlowski85 opened #827 "[UAT] PCA Template: No Long form of the country name"
Long form country name is not available for PCA generation (example: currently PCA will show Pakistan instead of Islamic Republic of Pakistan). The long form name is not available in VISION either.

The Long form country names to be supplied.

[2017-10-11 16:54] ewheeler commented on #827
one of my hobbies is maintaining a comprehensive, up-to-date dataset of codes used to identify countries, as many of the official standards are not freely available in a machine-readable format: http://datahub.io/core/country-codes

i opened [an issue](https://github.com/datasets/country-codes/issues/55) and will add official long names
we could periodically fetch this dataset and use to lookup lo

[2017-10-11 16:57] anusenan commented on #788
Link to test environment

https://websvcdev.unicef.org/BIWebAPI/BIWebService.svc/GetRAMInfo_XML/0120

[2017-10-11 17:26] mpawlowski85 commented on #827
@ewheeler sounds good

the source should indeed be the DGACM Protocol Office. The latest version of the list is here:
https://protocol.un.org/dgacm/pls/site.nsf/files/Country%20Names%20UNTERM3/$FILE/UNTERM%20-%20EFSRCA.pdf

For now we just need English. Is there anything else we need to do?

[2017-10-11 17:54] mpawlowski85 commented on #688
So this happened again. Here is a sceenshot:

![bug_195_ie blank out](https://user-images.githubusercontent.com/26120371/31457724-a735d25a-ae8b-11e7-8d46-3b55d188b49b.PNG)

[2017-10-11 19:38] mpawlowski85 commented on #812
This is the way we test. If a user does not change workspaces, then this issue will not be happening.

[2017-10-11 19:38] #812 closed

[2017-10-11 19:51] mpawlowski85 commented on #811
To be confirmed on next staging  release that this is not an actual problem.

[2017-10-11 20:27] mpawlowski85 commented on #823
@adi130987 We re-checked with @robertavram and it is true - the behaviour persists when you have more than 1 FR

[2017-10-11 20:43] mpawlowski85 commented on #678
here are new issues @robertavram
[Pakistan PCA - New.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58b6fe776743c32000a1b8c2/125516c66e82c728ace21e0d46d895912a9197a881a98f60851dbdd4074330316546b3397f8fe62bab0021435a571cab45590b42fead8c78a1be68718a5d59e5873c5c75d42103eee9dc4be05ce36ade0d97bcae8b4bcae93825e08c8a4b381f071080fa4f78.pdf)

[2017-10-12 09:19] reinbach opened #828 "Partner module test coverage"
Relates to #645

[2017-10-12 10:25] adi130987 opened #829 "PD/SSFA amendments style issue"
Steps to reproduce:
* Go to an `active` PD/SSFA
* Add amendment `Other` type
* Enter `Other` field text
* Save

Expected result:
* Data is saved, amendment `Other` field has underline displayed

Actual result:
*  Data is saved, amendment `Other` field has underline hidden, readonly state style missing.

[2017-10-12 10:37] adi130987 commented on #732
Required and future date validating were updated for agreement & interventions amendments dates and interventions review and signed `signed by` dates.

[2017-10-12 10:39] daniel-tabarcea opened #830 "Add country check to Dexie database"
The data cached in dexie on the front-end is country specific, but there is no reference to the country it belongs to. So if the user changes the country from the admin for example the data shown in pmp is still from the old country and therefore invalid.

[2017-10-12 10:41] daniel-tabarcea opened #831 "Fix 413 error on IE"
The 413 error isn't displayed properly on IE11.

[2017-10-12 10:45] daniel-tabarcea commented on #831
Steps to reproduce:
- Select a PD in active status
- go to the review & sign tab
- add an amendment
- upload a large file
- save the PD

[2017-10-12 10:48] daniel-tabarcea commented on #830
Steps to reproduce:
- Go to PMP, select a country from the dropdown
- Check the list, see what entries are shown
- go to admin, select a different country from the dropdown
- go to pmp
- check the lists

Expected:  List data is shown from the country selected in admin
Result: PMP lists are showing the same data as before changing the country from admin

[2017-10-12 11:13] daniel-tabarcea opened #832 "Implement Partner Reporting Requirements"
- There should be edit and delete button
- There should be an add new reporting requirement button
- the list should show start date, end date and due date

[2017-10-12 11:38] csabadenes commented on #592
This issue was solved, i am closing the card.

[2017-10-12 11:38] #592 closed

[2017-10-12 11:43] adi130987 commented on #832
Endpoints to use:
[code]
[code]

[2017-10-12 11:46] adi130987 commented on #493
no reason to keep this open

[2017-10-12 11:46] #493 closed

[2017-10-12 12:14] caktus-philip commented on #828
FYI, big chunks of the partners module are no longer used and are slated to disappear. The `PCA` model and the models that point to it are in the crosshairs. Removing them is on my to-do list and I've started on a branch, but I'm presently stuck on a nasty Django error. Anyway, the practical upshot is that you might want to wait a bit to write tests, or at least make sure you don't work on anythin

[2017-10-12 12:25] reinbach commented on #828
Thanks for the heads up, I noticed that the PCA class has a TODO comment about removal. Will stay away from that and the v1 api endpoints.

[2017-10-12 13:06] mpawlowski85 opened #833 "Unable to edit a PD once a partner is Hidden ALM 294"
When a Partner is hidden, we are not able to edit and save PD/SSFA as the Partner name is not displayed. Please find attached screenshot

Steps to Replicate:

1 Hide a partner
2. Refresh and open an active PD for that partner and add Amendment and click save
3. Note the errors

Also, note that the error message is displayed and the text is incorrect:
![bug_294_hiddenpartner_pdssga](https://user-im

[2017-10-12 13:10] mpawlowski85 commented on #820
closes #676

[2017-10-12 13:22] janpanchalingam1 commented on #175
Passed testing

[2017-10-12 13:26] mpawlowski85 opened #834 "SSFA does not inherit status if the Intervention goes from draft directly to active ALM 303"
Browser: Chrome
Workspace: Jordan

1. Create an SSFA Agreement and Save. Status will be Draft.
2. Create an SSFA Document for the Agreement above. Do not populate the Rewiew & Sign tab yet. Save. Status will be Draft.
3. Populate the Review & Sign tab (and other fields required to change the status to Signed) and add a Fund Reservation. Save. This will change the status from Draft to Active.
4. Go

[2017-10-12 13:31] mpawlowski85 commented on #834
related #673

[2017-10-12 15:38] mpawlowski85 commented on #676
New issue raised for this #820.
676 is passed.

[2017-10-12 16:50] caktus-philip commented on #828
Not sure if this is complete --
https://github.com/unicef/etools/pull/943

[2017-10-13 00:35] mpawlowski85 opened #835 "Status bar display"
When I use my private laptop (17'' screen), the status bar looks weird. I am using Chrome and the window is expanded to full screen.
Is it possible that users in the field who use various machines face the same issue?

![image](https://user-images.githubusercontent.com/26120371/31525227-b0311caa-af8c-11e7-9375-8f37dfdcdbae.png)

[2017-10-13 07:02] adi130987 commented on #833
@mpawlowski85 the partners field is populated with the partners that are CSO and not hidden (according with https://docs.google.com/spreadsheets/d/13aDBavOW6BZPP3HVGHXka94SPDBuEs8c-Sh8WfkDEvs/edit#gid=1742783607 `eTools{1.1.6} = "CSO" AND Hidden=0`).

We will make some changes to show the partner's name and the agreement ref in this case but only as readonly fields. If the fields become editable(u

[2017-10-13 07:25] adi130987 commented on #835
@mpawlowski85 your 17'' screen laptop has only HD resolution. Right now the status will show like that for screen resolution lower than 1366 (width). But, this ain't right, because status supposed to show on the rigth side starting with HD resolution (1360x768 & 1366x768) and above and anything below that will display the status like in your screenshot.

[2017-10-13 13:07] adi130987 opened #836 "PCA generation: agreement id is undefined at page refresh"
Steps to reproduce:
* got agreements list, select a Draft PCA
* refresh browser page
* Try to generate a PCA template

Expected results:
* PCA template is generated with the agreement id

Actual result:
* PCA template error: agreement id is `undefined`

[2017-10-13 13:43] mpawlowski85 commented on #826
@marko911 @robertavram  Not all of the filters seem to be working. These do not work:
- Section/Cluster
- Field Office
- Ends After

[2017-10-13 13:52] robertavram commented on #826
@mpawlowski85 please open another card

[2017-10-13 13:57] marko911 commented on #826
We made a change to api yesterday, that is why these suddenly don't work. Will address them today @robertavram @mpawlowski85

[2017-10-13 14:04] #786 closed

[2017-10-13 17:26] marko911 commented on #826
@mpawlowski85 Changes have been made, please re-test this.

[2017-10-13 18:13] mpawlowski85 opened #837 "CSO Dashboard - IP Name column to be sortable"
The IP name column is sortable and the little arrow shows up, however, it does not sort the data.
Can this be fixed?

[2017-10-13 19:07] mpawlowski85 opened #838 "Budget Labels in PD"
Change the labels in the Budget card:
USD -> Total in USD
XXX -> Total in XXX

[2017-10-13 20:06] marko911 commented on #837
@mpawlowski85 Fixed. Please re-test this, BUT remember to do hard refresh when dashboard loads initially before going to any other tabs.

[2017-10-13 21:01] mpawlowski85 commented on #837
perfect
thanks @marko911 it works!

[2017-10-13 21:04] mpawlowski85 commented on #826
@marko911
this also seems to work!
thanks!

[2017-10-16 06:31] roxanavlad commented on #836
test result: pass
tested on dev on Chrome and IE 11

[2017-10-16 06:52] adi130987 commented on #688
@mpawlowski85 we can not reproduce this bug. We tried last week with no results. We'll keep an eye on it.

[2017-10-16 15:09] janpanchalingam1 opened #839 "Add 'Monitoring Visit' to Trip Type dropdown"
Please add 'Monitoring Visit (non HACT)' to 'Trip Type' dropdown in Trip Management Module.

[2017-10-16 17:59] mpawlowski85 commented on #678
Checked During UAT - the requested changes were made

[2017-10-16 18:00] mpawlowski85 commented on #837
passed in staging

[2017-10-16 18:00] mpawlowski85 commented on #779
passed in staging

[2017-10-16 18:00] mpawlowski85 commented on #806
passed in staging

[2017-10-16 18:01] mpawlowski85 commented on #823
passed in staging (assuming a 5 min cache of the list)

[2017-10-16 18:01] mpawlowski85 commented on #834
passed in staging

[2017-10-16 18:05] mpawlowski85 opened #840 "MOU: Cannot change status of an MOU with End Date in the past to Signed. ALM 305"
1. Create an MOU
2. Specify an End Date in the past.
3. Save. MOU Ref is generated, and MOU is created with status Draft.
4. Populate all signatory fields:
    a. Signed By Partner/Signed By Partner Date
    b. SIgned By UNICEF/Signed by UNICEF Date
5. Upload a Signed Agreement.
6. Save. The status remains as Draft.

Example: JOR/MOU2017189

Another way:
1. Create an MOU
2. Specify an End Date in

[2017-10-16 18:07] mpawlowski85 opened #841 "Message "One or more of the FRs selected is either expired,..." should be changed to remove "expired" ALM 306"
Message "One or more of the FRs selected is either expired,..." should be changed to remove "expired" as we are now allowing expired FRs to be added to a PD/SSFA

rowser: Chrome
Workspace: Jordan

1. Open a Signed PD/SSFA
2. Add a non-existent FR. This message is displayed.
![bug_306_richcontentimage_1630603977_1](https://user-images.githubusercontent.com/26120371/31627413-3ca979c0-b27b-11e7-93cc-

[2017-10-16 18:08] mpawlowski85 opened #842 ""Submitted to PRC" checkbox gets locked and is no longer editable, even if the PD is in Draft Status. ALM 307"
Related to Defect# 300.

Steps:
1. Add a PD with all the fields in details tab filled.
2. Go to Review & Sign tab
3. Enter Document Submission Date
4. Keep Submitted to PRC? checkbox checked
5.Don't populate the "Submission Date to PRC" and "Review Date by PRC".
6.Upload the PRC Review Document.
7. Click on Save, The PD is still in Draft Status.

Result : Submitted to PRC checkbox gets locked and

[2017-10-17 06:46] adi130987 commented on #842
@mpawlowski85 the specs for PRC fields were not so great. We just knew that once the field is checked it will be locked. Then we had issue #693, #794 and #819. The issue you reported here is because my suggestion from last comment of #819 was already implemented on backend, no one said it's good or bad. The field becomes checked and stays that way if any of the PRC fields are not empty.

There is

[2017-10-17 12:54] adi130987 commented on #833
@mpawlowski85 I made some changes regarding this issue according with my last comment. it will be soon ready for test on dev.

[2017-10-17 13:28] mpawlowski85 commented on #813
The data in staging is valid

[2017-10-17 13:28] #813 closed

[2017-10-17 13:28] mpawlowski85 commented on #811
Does not seems to be a problem after full DB Refresh

[2017-10-17 13:28] mpawlowski85 commented on #810
Does not seems to be a problem after full DB Refresh

[2017-10-17 13:28] #810 closed

[2017-10-17 13:29] #811 closed

[2017-10-17 13:33] mpawlowski85 commented on #796
Awaiting design completion by @evrimm
@evrimm to set up a meeting to present options

[2017-10-17 13:39] mpawlowski85 commented on #764
Awaiting design completion by @evrimm
@evrimm to set up a meeting to present options

[2017-10-17 13:40] mpawlowski85 commented on #749
cannot reproduce - the issue will be raised once reported by user

[2017-10-17 13:40] #749 closed

[2017-10-17 13:45] mpawlowski85 opened #843 "CSO Dashbord export"
The exported file should be sorted alphabetically by the IP Name by default

[2017-10-17 14:25] ewheeler commented on #541
see also
https://github.com/unicef/etools-issues/issues/633
https://github.com/unicef/etools-issues/issues/634

[2017-10-17 18:10] mpawlowski85 opened #844 "Ability to edit section"
Please note that this requirement is not yet finalized:

1. Sections are defined per country
2. Sections might change with each of the CPD and once again during the mid-CPD review.
3. If the sections change mid-CPD, then there the data from the CPD in questions will have to be adjusted (The PDs will be assigned to the new sections as defined during the review).
4. The data relating to sections in

[2017-10-17 18:13] mpawlowski85 opened #845 "Revert the "section" selections of the legacy data to its original state."
Revert the section selections of the legacy data to its original state.
@marindikanovic will provide the mapping necessary for the job.

[2017-10-18 08:33] adi130987 opened #846 "PRP - report details tabs"
* report summary
* progress

[2017-10-18 14:04] #626 closed

[2017-10-18 14:57] roxanavlad commented on #835
test result: pass
tested on dev on Chrome and IE

[2017-10-18 17:37] domdinicola opened #847 "Migrate to Celery 4"

[2017-10-18 18:20] asuley commented on #839
There have been numerous requests to add different trip types and we have consistently told users that additional trips types would not be added until the field monitoring module is put in place. @janpanchalingam1  can you give me more context as to why this is being put in Waffle now.

[2017-10-18 18:22] janpanchalingam1 commented on #839
@asuley this was a request from Issmail last week that I had discussed with Slavi. The reasoning from Issmail was "The DepRep here is requesting to add another type of trips called “monitoring visits” but not HACT related. He said that monitoring visits are not always PMVs (and thus HACT-related). Some monitoring visits can be for instance just regular visits to monitoring the implementation of re

[2017-10-19 09:29] acory opened #848 "Update Locations and clusters after indicators updates"

[2017-10-19 15:58] #819 closed

[2017-10-19 15:58] #820 closed

[2017-10-19 18:06] janpanchalingam1 opened #849 "HACT Dashboard - Partners not displayed"
Partners are missing from the HACT dashboard that have cash transfers 2016 QA to 2017 Q3. Partners are showing in API but not showing on the dashboard.

[2017-10-19 18:16] janpanchalingam1 commented on #849
Workspace: Jamaica

![image](https://user-images.githubusercontent.com/26144740/31786771-93444cfc-b4d7-11e7-8afe-c6408c35034b.png)

Partners not listed with cash transfers:
WEST   INDIES CRICKET BOARD INC - 2500220796
PLANNING   INSTITUTE OF JAMAICA - 2500225031

![image](https://user-images.githubusercontent.com/26144740/31786783-9ef0d822-b4d7-11e7-853b-4817dcb07b64.png)

API for West Indies:
![i

[2017-10-19 18:27] janpanchalingam1 commented on #849
Workspace: Lebanon

Partner not listed with cash transfer:
ACADEMIC UNIVERSITY COLLEGE FOR NON VIOLENCE AND HUMAN RIGHTS AUNOH - 2500235754
ARAB PUPPET THEATRE FOUNDATION - 2500231462

API for academic university college:
![image](https://user-images.githubusercontent.com/26144740/31787328-6027e16a-b4d9-11e7-8920-b564960d4097.png)

API for arab puppet theatre:
![image](https://user-images.githubus

[2017-10-19 20:24] domdinicola opened #850 "Remove orphan apps (trips, tpm, supplies)"
after latest migration is performed

[2017-10-19 20:30] janpanchalingam1 opened #851 "HACT Dashboard Future State"

[2017-10-19 21:04] janpanchalingam1 commented on #851
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/HACT%20Dashboard/Release%204/Technical%20Specifications/TS_HD.01-01.2017%20-%20HACT%20Dashboard%20Technical%20Specification.xlsx?d=wad64d07b71f4493189770c448f472dbe

1) 1.1.1: Implementing Partners - show partners that have received a cash transfer between 1 October and 30 September (TOTAL_CASH_TRANSFERRED_CY>0)
2) 1.

[2017-10-20 08:10] acory opened #852 "Add Demo for esm dropdown in modal"

[2017-10-20 09:09] acory opened #853 "Esm dropdown in modal issuess"

[2017-10-20 20:15] ewheeler opened #854 "Handle invalid geometries gracefully"
We should catch `GEOSException`, `TopologyException`, etc if postgis chokes on invalid shapes

https://sentry.io/unicef-jk/etools-prod/issues/309469249/

On the frontend, we should not show the loading modal forever if CSO dashboard and maps can't load any shapes

[2017-10-23 10:06] daniel-tabarcea opened #855 "Update table styles"
Update Planned budget and implementation status sections to use etools-data-tables

[2017-10-23 14:51] janpanchalingam1 commented on #849
Please do not filter for partners total_ct_cp is greater than 0. Show partners that total_ct_cp is equal to 0 if total_ct_cy is greater than 0.

[2017-10-23 15:14] roxanavlad commented on #831
test result: pass
tested on dev on Chrome and IE 11

[2017-10-23 18:41] aldohunicef opened #856 "After submit for approval, all trip fields disappear"
Trip#2017/134 in Kyrg
Traveler sent trip for approval and after that all fields became blank. https://etools.unicef.org/t2f/edit-travel/193
Trip can't be completed, approved, canceled.

[2017-10-23 18:41] aldohunicef commented on #856
![image](https://user-images.githubusercontent.com/26142645/31906859-34cd0e62-b800-11e7-8469-082035bd2b60.png)

[2017-10-23 18:41] aldohunicef commented on #856
![untitledj](https://user-images.githubusercontent.com/26142645/31906883-43f0110a-b800-11e7-8f0c-fea7f7072553.png)

[2017-10-23 18:51] aldohunicef opened #857 "Trips not modifiable once approved"
Pending, specifications and BO. approval

While this made sense when we wanted to create TAs in eTools, it is currently not practical. From staff and senior management here, I was told that the details of a trip, such as dates and activities can change even after the travel plan has been approved (we're not talking about Vision here). However, currently travelers cannot change an approved trip in

[2017-10-23 18:53] aldohunicef opened #858 "Trips after "cancel" still appear HACT Dashboard"
in Liberia and Burkina . After deleting the trips, they still appear in the HACT dashboard.

[2017-10-23 18:56] aldohunicef opened #859 "Add type of trip"
Liberia users are requesting to add another type of trips called "monitoring visits" but not HACT related. He said that monitoring visits are not always PMVs (and thus HACT-related). Some monitoring visits can be for instance just regular visits to monitoring the implementation of recommendations or actions identified during an earlier PMV.

From Indonesia,  In Trip Management under Trip type shou

[2017-10-23 19:03] aldohunicef opened #860 "Change in Language: Did you request Security Clearance?"
For security reasons it should read
Did you OBTAIN security/medical clearance?

[2017-10-23 19:05] aldohunicef opened #861 "Notifications are off"
Notifications are turned off for trips approvals / action points.
Need to be reestablished.

[2017-10-23 19:10] ntrncic opened #862 "Squash migrations"
Squash all migrations

[2017-10-23 19:13] reinbach commented on #862
This may be a duplicate of #590?

[2017-10-23 19:15] reinbach opened #863 "Add timestamps to models"
Update models to make use of `TimeStampedModel`

For `created` default value make use of `datetime.date(1971, 1, 1)` for now, may need/want to change that.

[2017-10-23 19:16] aldohunicef opened #864 "Users / duplicated trip / supervisor"
When a user duplicates a trip where he/she is the supervisor, user can’t change the name of the supervisor.

[2017-10-23 19:17] reinbach opened #865 "Update feed stream"
Ensure we create complete snapshot,
- with changed fields
- action by

Want this to happen on all POST, PUT, PATCH endpoints (v2 only?) and all Django Admin forms

[2017-10-23 19:47] #862 closed

[2017-10-23 20:23] mpawlowski85 opened #866 "Remove Error Tooltip for PDs that are in closed status"
Please remove the FR/Date error tooltips for any PD and SSFA that are in "Closed" status.

[2017-10-23 20:35] mpawlowski85 opened #867 "Change the Percentage disbursement for CSO Dashboard"
The full requirement for the % disbursement for the CSO Dashboard:

If no FR is added to the PD/SSFA, then display 0.
If FR is added, the calculation is:
Actual / Total UNICEF Cash *100%
The Percentage will be displayed in red if an error tooltip is available for the FR validation on the PD screen (which happens in cases, where the sun of FR Overall Amount does not equal Total UNICEF cash). In thi

[2017-10-24 06:58] adi130987 opened #868 "PRP integration: Sections don't show in PD/SSFA list after save"
Steps to reproduce:
* go to a draft PD and add some sections, then save
* go to PD/SSFA list and check sections in the list details row for updated PD

Expected result: all sections saved on pd details should be displayed in list details row.

Actual result: no section is displayed.

[2017-10-24 07:04] adi130987 opened #869 "PRP integration: new expected result validation improvement"
* go to a daft PD, add a new expected result, the modal with cp outputs and cp indicator will open.
* select a cp output

You can notice the that indicator dropdown validation did not waited to click save or select/deselect any option, the error message is shown too quickly (aggressive behavior considered by the QA :) ). We need to not run the validation at cp output select.

[2017-10-24 09:34] acory opened #870 "Focus search input when dropdown opens"
Technical details : this can be achieved by setting the focusedTarget attribute on iron-dropdown to the searchInput
 _onDropdownOpen: function() {
var ironDropdown = this._getIronDropdown();
 ironDropdown.focusTarget = this.$$('#searchInput');
}

[2017-10-24 11:31] daniel-tabarcea opened #871 "Fix Planned budget IE issues"
the planned budget panel on the PRP integration branch is not being displayed correctly on internet explorer 11

[2017-10-24 13:30] janpanchalingam1 commented on #860
TA should be disabled and it should not show

[2017-10-24 13:40] janpanchalingam1 commented on #859
There have been numerous requests to add different trip types and we have consistently told users that additional trips types would not be added until the field monitoring module is put in place.

[2017-10-24 13:40] #839 closed

[2017-10-24 13:57] janpanchalingam1 commented on #857
Ability of user to change a trip after an approval invalidates the whole approval process. For example if you can change your vacation after it has been approved by the supervisor the approval process is rendered useless.

[2017-10-24 14:32] robertavram commented on #327
etrips not in use... closing..

[2017-10-24 14:32] #327 closed

[2017-10-24 14:35] ShrinivasPuranik commented on #858
Test the count and document the issues. Determine Root cause to determine the bug,

Investigate if it needs to be part of New HACT future state requirements.

[2017-10-24 14:41] ShrinivasPuranik commented on #856
Work with field office to reproduce issue.

[2017-10-24 14:41] mpawlowski85 opened #872 "CSO Dashboard - Draft records"
The filter for draft records does not seem to work. Even if you select "Draft" and there are draft PD/SSFAs in the workspace, then the draft records are not displayed in the workspace.

[2017-10-24 14:42] ShrinivasPuranik commented on #849
Only in those cases where  countries are starting a new country cycle.

[2017-10-24 14:46] #859 closed

[2017-10-24 15:02] janpanchalingam1 commented on #864
This is an enhancement as this was what the previous specification was. Due to the current state of trip management, the senior management has decided to that only bug fixes will be made to make trips usable. The work around is that users will need to create a new trip.

[2017-10-24 15:03] #864 closed

[2017-10-24 15:04] janpanchalingam1 commented on #860
As per October 24 meeting this is an enhancement and is marked as invalid.

[2017-10-24 15:04] #857 closed

[2017-10-24 15:05] janpanchalingam1 commented on #378
As per October 24 meeting, this is an enhancement due to the senior management decisions made on the trip module and am marking as invalid.

[2017-10-24 15:06] #378 closed

[2017-10-24 15:14] #751 closed

[2017-10-24 15:15] ewheeler commented on #751
issue was resolved without any engineering action for:
Zodwa Mthethwa: zmthethwa@unicef.org
Siphiwe Mbambara: smbambara@unicef.org

[2017-10-24 16:29] #455 closed

[2017-10-24 17:34] marindikanovic opened #873 "Locations hierarchy for CO workspaces"
Some CO workspaces have locations without a hierarchy because of one of the following reasons:

1. When locations were imported into eTools, parent code was not entered.
2. Locations were imported into eTools, and parent code only added afterwards

For example, in the Sierra Leone workspace parent codes must have been entered in eTools after the locations were already imported, resulting in no hie

[2017-10-24 18:41] marko911 commented on #631
@janpanchalingam1 No screenshots ? No detailed description ?

[2017-10-24 19:24] janpanchalingam1 commented on #631
Would you like the technical specifications? I am not sure what you need since previously we just disabled both of these checkboxes:
![image](https://user-images.githubusercontent.com/26144740/31963663-79e1bc12-b8cf-11e7-8d61-43efb63e7b80.png)

[2017-10-25 14:44] ntrncic commented on #838
Total PD Budget USD
Total PD Budget XXX

[2017-10-25 16:40] caktus-philip commented on #243
@ewheeler I can't find a misspelling of correspondence in that file. "Cleareance" is still incorrect. Any reason why these are related to migrations?

[2017-10-25 16:45] ewheeler commented on #243
@caktus-philip hmm.
i recall being irked by `itenerary` in a table name somewhere.. so i had related all misspellings to the migration card just in case any of them necessitate a table name change (which could be easier to change while mucking with migrations)

[2017-10-25 17:21] janpanchalingam1 commented on #635
@marko911 here is a screen shot of what we currently see when we receive a notification of an assigned action point email:
![image](https://user-images.githubusercontent.com/26144740/32012642-912563ee-b986-11e7-8aa4-fa2f22224735.png)

The link you see redirects the user to the action point but not to the trip it is associated with. It would be great if where the Trip number is links is hyperlinked

[2017-10-25 17:35] janpanchalingam1 commented on #858
Tested in Jordan. Tested trip by cancelling a submitted and approved trip. Neither counts in the dash. The only trips that are counted in the dash are the ones marked as completed and if the date of visit is in the past.

[2017-10-25 17:36] #858 closed

[2017-10-25 17:37] #856 closed

[2017-10-25 17:50] janpanchalingam1 opened #874 "HACT Dashboard - 'Done' PVs and SCs to show for the current year (January to December)"

[2017-10-25 17:55] janpanchalingam1 commented on #874
Workspace: Jordan

HACT Dashboard is showing 3 completed trips for International Medical Corps:
![image](https://user-images.githubusercontent.com/26144740/32014430-145787d8-b98c-11e7-8091-1c1f8f53d401.png)

Trips show 3 completed trips in total. Only 2 in 2017:
![image](https://user-images.githubusercontent.com/26144740/32014340-d2026a74-b98b-11e7-99b1-20e42b2bd56e.png)

Expected behaviour is tha

[2017-10-25 18:38] #607 closed

[2017-10-25 18:44] caktus-philip commented on #243
@ewheeler Yes, I remember the `itenerary`. It was fixed; I think Vinod squashed that one. Fortunately, fixing `Cleareance` in this file isn't related to migrations so it can be fixed at any time. I tried to push a PR for it but I don't have rights to that repo. I'll let someone else handle it. =)

[2017-10-25 18:45] caktus-philip commented on #590
#243 not a blocker for this

[2017-10-25 18:55] ewheeler commented on #243
ok! sounds good

[2017-10-25 19:50] aldohunicef opened #875 "Supervisor can't see approve button"
For the trip
https://etools.unicef.org/t2f/edit-travel/24183 in Lebanon
Supervisor is not able to see approve button

[2017-10-25 19:50] aldohunicef commented on #875
![image](https://user-images.githubusercontent.com/26142645/32019783-489ab6cc-b99c-11e7-83a4-53d0aa438801.png)

[2017-10-25 19:51] aldohunicef commented on #875
![image](https://user-images.githubusercontent.com/26142645/32019808-57a663dc-b99c-11e7-8e58-3de54aa98624.png)

[2017-10-25 19:51] aldohunicef commented on #875
![sofa_aa](https://user-images.githubusercontent.com/26142645/32019843-6c5cc988-b99c-11e7-8214-a4ba3ecf32e1.jpg)

[2017-10-25 20:14] ntrncic commented on #875
are you able to reproduce this?

[2017-10-25 20:28] janpanchalingam1 commented on #861
Notifications are on in prod. Notifications are off in staging. Notifications for PMP will not be turned on in staging. They will be turned on for all other modules in staging on October 26.

[2017-10-26 10:36] adi130987 opened #876 "etools-ajax abort requests feature"

[2017-10-27 07:55] daniel-tabarcea opened #877 "Reports page dialogs"
Create the reports page modal dialogs.
Designs: https://projects.invisionapp.com/d/main#/projects/prototypes/11827592

[2017-10-27 14:48] janpanchalingam1 commented on #632
Passed testing!

[2017-10-27 14:48] janpanchalingam1 commented on #633
Passed testing!

[2017-10-27 14:50] janpanchalingam1 commented on #631
@marko911 are we able to move the international trip checkbox right aligned? Because this looks strange with a floating checkbox.

[2017-10-27 14:50] janpanchalingam1 commented on #631
![image](https://user-images.githubusercontent.com/26144740/32110096-aee61728-bb04-11e7-8ac6-2a381a7ce7c3.png)

[2017-10-27 14:54] janpanchalingam1 commented on #453
Partners marked for deletion are still showing:
![image](https://user-images.githubusercontent.com/26144740/32110300-3368ebf6-bb05-11e7-961c-e0a362bbc438.png)

![image](https://user-images.githubusercontent.com/26144740/32110331-4414e6bc-bb05-11e7-97eb-c1a222ba1c87.png)

[2017-10-27 14:57] janpanchalingam1 commented on #635
Passed testing

[2017-10-27 15:14] ntrncic commented on #453
@janpanchalingam1 as you see in the Partner Organization list there are two EAST AMMAN CHARITY. Only one is showing up in the dropdown in T2F (EAC/EAST AMMAN CHARITY) as expected. The EAC is just a short name for the partner.

[2017-10-27 18:29] aldohunicef commented on #875
You can see  the error live: https://etools.unicef.org/t2f/edit-travel/24183
The error keeps being reported. we can't reproduce on our own but the fact that keeps being reported shows some issues, right?

[2017-10-27 19:25] ntrncic commented on #729
level of effort is half a day to add the validation and test it. What do we to with records that are already in Signed?

[2017-10-27 20:31] ntrncic commented on #541
we have updated the trip form to have the itinerary section collapsed. This makes it harder for the user to enter data into that section, if the user starts entering itinerary data then they will have to enter it correctly and are not allowed to delete.

To change the validation and allow users to delete entered itineraries will take one week of developer time. At this moment will move to closed a

[2017-10-27 20:31] #541 closed

[2017-10-27 20:46] janpanchalingam1 commented on #453
Thanks Nik. Passed testing.

[2017-10-27 21:03] janpanchalingam1 commented on #59
Workspace: Jordan
Browser: Chrome

Created action point with due date: November 30, 2017 at 8pm
Email notification indicates due date: November 30, 2017 at 5am
![image](https://user-images.githubusercontent.com/26144740/32124826-42720ae2-bb37-11e7-8f8b-09392060ebd8.png)
![image](https://user-images.githubusercontent.com/26144740/32124819-36f03a04-bb37-11e7-9c26-8fe0a1b1d4f9.png)

[2017-10-28 09:16] roxanavlad commented on #838
@acory , this is done on dev

[2017-10-28 12:51] roxanavlad commented on #869
@adi130987 , this is done on demo

[2017-10-29 13:04] janpanchalingam1 commented on #224
Passed testing

[2017-10-29 13:12] janpanchalingam1 commented on #849
Passed testing

[2017-10-30 08:56] roxanavlad commented on #866
@acory , this id done on dev

[2017-10-30 11:35] daniel-tabarcea opened #878 "Fix PRP integrations list issues"
Agreements list is shows no data on the etools-demo server

[2017-10-30 13:44] mpawlowski85 opened #879 "Extend attachment links validity period"
The links for the Azure Blob Db expire after 10 mins. The users have raised that this is a big usability issue, as refreshing the system in low-bandwidth is time consuming and causes frustration, especially during audits, when large amount of attachments need to be downloaded.

Is there a possibility to extend the validity period of these links?

[2017-10-30 15:21] ewheeler commented on #879
If this is mainly a frustration for bulk downloads.. would a better solution be a bulk downloader interface?

[2017-10-30 16:20] ntrncic opened #880 "Split Vision Synchronizer into multiple tasks"

[2017-10-30 17:35] mpawlowski85 commented on #879
hmmm, so there is also the issue of a Programme Officer working with eTools for an extended period during the day. Requiring them to refresh each time is not necessarily the most friendly way to use the system.
Bulk downloader only solves one problem and it would require more work - however we are happy to talk about it to see if it indeed is worth the investment.

[2017-10-30 17:40] ewheeler commented on #879
working for an extended period of time without navigating away from the page? we don't auto-refresh if other colleagues edit details while another colleague has the page open.

not sure i understand why that is something we should encourage and design for.. each visit to the page should refresh the link and its expiry window.

link expiry should only be encountered if someone opens the page in a n

[2017-10-30 19:34] mpawlowski85 opened #881 "Improper error msg if dates are not populated while creating PCA ALM 318"
-Add new agreement.
-Select agreement type-PCA.
-Select Signed by Partner.
-Select signed by UNICEF.
-Select Authorized officers.
-Do NOT populate the "Signed by partner date" and "Signed by UNICEF date".
-Click SAVE

Result- Error msg displayed is for future dates,however the dates were not selected while creating the PCA.
 Error msg- "None of the dates can be in the future; If dates are set, sig

[2017-10-30 19:44] domdinicola commented on #880
should we split by country or by handler?

[2017-10-30 19:49] ewheeler commented on #880
hmm. both?!

[2017-10-30 19:50] ntrncic commented on #880
so we will have 50 countries * 6 handlers= 300 tasks run each night?

[2017-10-30 19:50] mpawlowski85 opened #882 "PD/SSFA: "An error occurrred on data save!" when creating a Signed PD/SSFA ALM 320"
Please do not hit save until step 4.

1. Add New PD/SSFA.
2. Populate the following required fields to make Status Signed:
    a. Partner Organization
    b. Agreement = May select a PCA or SSFA
    c. Document Type = May select PD, SHPD, or SSFA
    d. Contingeny PD = May be ON or OFF if PD or SHPD
    e. Start Date
    f.  End Date
    g. CP Structure = Select "JORDAN COUNTRY PROGRAMME (2013 - 2

[2017-10-30 19:57] ewheeler commented on #880
hopefully we'll have ~130 * 6 = 780 :)

i think its better to be as granular as possible, so failed tasks have limited impact (e.g., problem with one handler type or one country doesn't affect other data)

also, fine granularity means we can tweak the frequencies independently.. for some handler-country pairs, we might find benefit from running more or less frequently compared to others--or to han

[2017-10-31 11:13] daniel-tabarcea opened #883 "Fix automatic data refresh issue"
The partners, agreements, PD/SSFA list data should refresh automatically after it expires, but at the moment it is not working

[2017-10-31 11:28] adi130987 opened #884 "PRP requests should contain an authorization token"
Make sure all PRP requests have a header like this `'Authorization': 'JWT TokenStringBase64Encoded`

[2017-10-31 14:13] mpawlowski85 commented on #879
Can we please extend this to 180 Minutes

[2017-10-31 14:20] mpawlowski85 commented on #805
conects to  #721

[2017-10-31 14:24] aldohunicef commented on #860
In VISION: “Did you request Security Clearance?” and “Completion of Security Course”?

[2017-10-31 14:32] mpawlowski85 commented on #729
@ntrncic
All of the Records that are already in Signed or Active that do not meet the new criterion, should be moved back to draft.
Please provide a list of PDs that will move back to draft as a result of this operation.

[2017-10-31 14:42] aldohunicef commented on #59
discussion / pending

[2017-10-31 15:24] mpawlowski85 commented on #867
Halo @drzackyll
I moved this card from backlog to QA/UAT Accepted, because it was implemented.
please remeber to move your cards along going forward.

if you have any questions about the process, please speak to @anusenan

[2017-10-31 15:31] drzackyll commented on #867
@mpawlowski85 will talk to her; i've never been given guidance that i should do anything with the cards

[2017-10-31 16:05] janpanchalingam1 commented on #59
@ntrncic @marko911 Start and end date is not being sent correctly on the front end. Nik and Marko to review and let product team know level of effort to fix.

[2017-10-31 16:51] #147 closed

[2017-10-31 17:32] ntrncic commented on #171
completed

[2017-10-31 17:32] #171 closed

[2017-11-01 07:08] roxanavlad commented on #636
test result: pass
tested on IE and Chrome on demo environment

[2017-11-01 07:55] roxanavlad commented on #715
test result: pass
tested on IE 11 and Chrome on demo environment

[2017-11-01 11:54] daniel-tabarcea opened #885 "Remove add expected results button from new PD page"
Expected results cannot be added unless a PD id is preset, so the button should be removed and a message added instead

[2017-11-01 14:03] vkurup commented on #680
Waiting for final tpm migrations to be run on production, then remainder of tpm app can be removed.

[2017-11-01 14:06] vkurup commented on #680
Oh, but I see that this is covered by #850, so I will move this to 'In develop'

[2017-11-01 14:14] vkurup commented on #169
@evrimm I think (almost) all of this is covered in #448. If there are any items that anyone would like addressed more explicitly, I'd be happy to update the guidelines! Otherwise I think this can be moved to 'In develop'

[2017-11-01 14:36] vkurup commented on #172
Looks like those URLs have become obsolete. I went back into time (thanks git!) and identified that the first one refers to django-paint-store, which is still present. The second link refers to ActivityInfo which has been removed and the third line refers to django-debug-toolbar, which is still in base.txt and could be moved to local.txt

[2017-11-01 15:22] domdinicola opened #886 "Split Vision task in several mini tasks"
The tasks should be dispatched to a different queue

[2017-11-01 15:55] vkurup commented on #169
Ooops @evrimm, sorry! Meant to ping @ewheeler on that comment ^

[2017-11-01 16:38] #754 closed

[2017-11-01 16:38] #789 closed

[2017-11-01 16:38] #761 closed

[2017-11-01 16:39] #808 closed

[2017-11-01 16:39] #803 closed

[2017-11-01 16:40] #793 closed

[2017-11-01 16:40] #800 closed

[2017-11-01 16:40] #774 closed

[2017-11-01 16:40] #744 closed

[2017-11-01 16:40] #747 closed

[2017-11-01 16:40] #742 closed

[2017-11-01 16:40] #745 closed

[2017-11-01 16:40] #750 closed

[2017-11-01 16:41] #763 closed

[2017-11-01 16:41] #755 closed

[2017-11-01 17:34] janpanchalingam1 opened #887 "Modifying trip export"
Please remove 'when' column from Travel Activity Export and please add 'start date' and 'end date' to Travel Activity Export

[2017-11-01 19:24] mpawlowski85 commented on #827
Technical solution was agreed - this can now go into prioritization

[2017-11-01 19:36] mpawlowski85 commented on #822
We keep this on hold until there is an actual scenario
@aldohunicef  - can we please ask @apetkovic@unicef.org to write an article, where there  is an explanation that in case of SSFA Auth Officer change, the user must  raise a service call to amend the authorized officer. There will be no ability by the user to amend SSFA auth officer

[2017-11-01 19:47] mpawlowski85 commented on #769
Technical solution is agreed.
The SSFA Agreement number will be the same as the intervention . Amendment is added at the intervention level and the agreement will inherit the updated number from intervention.

For Legacy data:
Draft / Signed / Active / Ended / Suspended SSFA interventions will follow the new reference rules once it is implemented.

[2017-11-01 20:06] mpawlowski85 opened #888 "Add CP Structure Label to the CP Output Label"
Each CP Output should be labeled with the CP Start and End dates.

[2017-11-01 20:12] mpawlowski85 commented on #815
The display of the CP structure should be preserved.

[2017-11-01 20:30] mpawlowski85 commented on #821
Once the PRP integration is implemented, then this issue will become invalid.

[2017-11-01 21:00] mpawlowski85 commented on #844
Issues remain.
There is a way to preserve the old sections for all the records that are in the closed status.

[2017-11-02 07:06] roxanavlad commented on #621
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-02 07:34] roxanavlad commented on #781
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-02 08:11] roxanavlad commented on #871
@daniel-tabarcea
there is still an issue with the currency display within the Planned Budget panel. Please see attached screenshot
note: valid only for IE 11
![ie_-_currency_in_planned_buget](https://user-images.githubusercontent.com/28560323/32315748-1319bcc6-bfb6-11e7-8f3f-5a67efba6e14.png)

[2017-11-02 08:37] roxanavlad commented on #868
test result: pass
tested on demo on Chrome and IE 11

[2017-11-02 13:19] roxanavlad commented on #853
test result: pass
tested on demo on Google Chrome and IE 11

[2017-11-02 15:05] domdinicola commented on #805
@mpawlowski85  I assume is for all type of agreement and PD, am I right?
Can you also provide an error message?
"Cannot Sign the PD since the related Agreement is Suspended or Terminated"

[2017-11-02 16:21] ewheeler commented on #169
yup, looks like #448 has this covered

[2017-11-02 16:21] #169 closed

[2017-11-02 16:21] #448 closed

[2017-11-02 16:35] mpawlowski85 commented on #805
@domdinicola
this is for PD and SHPD that connect to a PCA only. No action is necessary for SSFA or MoU, as the specs for these agreements are different.

The Error message for the PD page should be:
"The PCA related to this record is Suspended or Terminated. This Programme Document will not change status until the related PCA is in Signed status."

[2017-11-02 17:32] ewheeler opened #889 "display dates in consistent format"
we should pick a format for dates to use whenever we display dates

and add to https://github.com/unicef/etools/blob/master/docs/guidelines.rst and UX guidelines

probably doesn't need to be configurable per workspace..

[2017-11-03 01:34] vkurup commented on #172
Re: paintstore. It is only used in the CartoDB admin. Is this something we want to replace with another color picker, or is it OK to remove the color picker entirely?

[2017-11-03 07:49] roxanavlad commented on #878
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-03 08:50] roxanavlad commented on #614
test result: pass
tested in demo environment on Google Chrome and IE 11

[2017-11-03 10:19] roxanavlad commented on #809
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-03 11:29] adi130987 opened #890 "PD reports and progress pages updates"
Check and test PD reports and progress pages with PRP API

[2017-11-03 12:40] vkurup commented on #172
I've made a few PRs to remove things that I think could be removed.

A few other comments:
- There's a comment next to the DDT requirement stating that the debug toolbar is useful in the dev environment, which explains why it's in base.txt. Is that still true?
- There are some test-related packages (mock, factory, etc) which would normally go in local.txt, but since we run tests on our production

[2017-11-03 13:24] vkurup opened #891 "Fix fragile tests"
I've had CircleCI fail on 2 tests, which then succeded on rebuild without code change.

1. [failure](https://circleci.com/gh/unicef/etools/5665) `./runtests.sh audit.tests.test_views.TestEngagementsListViewSet.test_focal_point_list`
2. [failure](https://circleci.com/gh/unicef/etools/5654) `./runtests.sh t2f.tests.test_travel_details.TravelDetails.test_activity_location`

They look like they might

[2017-11-03 17:40] mpawlowski85 commented on #883
I don't know how this should be tested.
@anusenan can you please have a look before the prioritization on tuesday?

[2017-11-03 17:57] csabadenes opened #892 "Intervention appliedindicator cluster changes"
Create PMP data source for cluster name and response plan name

[2017-11-03 18:39] mpawlowski85 commented on #805
Failed. Github says that the message, "The PCA related to this record is Suspended or Terminated. This Programme Document will not change status until the related PCA is in Signed status." should be displayed. This message is not being displayed.

[2017-11-03 18:58] drzackyll opened #893 "add unit tests to etools-datepicker"
add unit tests to etools-datepicker

[2017-11-03 19:01] drzackyll opened #894 "add piwik analytics integration"

[2017-11-03 20:11] mpawlowski85 commented on #729
@ntrncic
Is it possible to have an asterisks next to "Total PD Budget USD", so that the users know that it is mandatory?

[2017-11-06 07:49] adi130987 commented on #883
@mpawlowski85, @anusenan each list of data has a caching expire time: partners list has 6h, agreements list has 30min and interventions list has 10min. After this amount of time passes a new request to the server is made automatically to refresh the data(can be seen in the network tab of the inspector tools).

[2017-11-06 08:15] adi130987 commented on #729
@mpawlowski85 @ntrncic we can make frontend changes for this to show the asterisks, but I don't agree putting the asterisk on `Total PD Budget USD`. The validation is related to `Unicef Cash` and `Unicef Supply` fields and these fields should have the asterisk dynamically added if needed, according with the new validation requirement.

[2017-11-06 09:54] roxanavlad commented on #885
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-06 11:06] acory opened #895 "Settings page can't be accessed on the built version of code"

[2017-11-06 14:49] roxanavlad commented on #855
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-06 15:33] drzackyll opened #896 "fix profile dialog dismissal in dashboard"

[2017-11-06 15:56] anusenan commented on #883
Hey @mpawlowski85 can you test interventions since it has a short refresh window?

[2017-11-06 19:22] mpawlowski85 opened #897 "Display future CP structures in eTools"
The practice in the COs is that the CP is entered into vision first and the complete result structure is not entered until some time later. Currently the API will not send any CP Structure data unless the CP has at lease 1 Outcome/Output associated with it.

COs have requested that the new CPs be available as soon as  they are entered as they want to generate PCAs from eTools. The API changes are

[2017-11-06 19:23] mpawlowski85 opened #898 "PROD - Export of PD/SSFA does not work as expected"

[2017-11-06 19:37] mpawlowski85 commented on #729
@adi130987 would that mean that we would have to change the permission matrix and the asterisk would dynamically appear? Where would it appear, if we only require the USD bit, rather than the local currency portion?

[2017-11-06 22:13] mpawlowski85 opened #899 "PROD - Remove validation from Partner contact"
When an "unusual" email address is added to the Partner Contact, there is a validation that says "Valid and Unused email address must be used"
The validation for unusual email addresses should be removed
example:
 DziedMroz@example.org5 would not pass the validation because of the .org5  - the system should allow that.

[2017-11-06 22:30] ewheeler commented on #899
@mpawlowski85 Why would we want to accept invalid addresses?

[2017-11-07 08:36] adi130987 commented on #729
@mpawlowski85 no permission matrix change, only frontend changes. The asterisks should show near the `Unicef Cash` and `Unicef Supply`. Something like this:
![planned-budget_2](https://user-images.githubusercontent.com/1955740/32484025-17664a20-c3a7-11e7-87eb-8a8c25267b67.png)
![planned-budget_1](https://user-images.githubusercontent.com/1955740/32484026-1785a38e-c3a7-11e7-8e26-2915185a1406.png)

[2017-11-07 12:09] daniel-tabarcea opened #900 "Fix list old data issue"
When loading list data deleted records are not being removed from dexie, so if for example you delete an entry from a different browser it will still appear until the data is manually refreshed.

Steps to reproduce:
- Go to partners list, leave the window open
- Log into the application from a different browser or incognito mode
- From incognito, delete a partner
- Wait 6 hours
- Go back to the or

[2017-11-07 14:13] janpanchalingam1 commented on #860
Passed testing:
![image](https://user-images.githubusercontent.com/26144740/32497836-d9b5f4ce-c39b-11e7-951b-3bcc797ea0a0.png)

[2017-11-07 14:13] janpanchalingam1 commented on #631
Passed testing

[2017-11-07 14:26] janpanchalingam1 commented on #874
Failed testing.
Workspace: Jordan
Partner: ISLAMIC CHARITY CENTER SOCIETY
7 Completed PVs in Trips for 2017. 6 showing in HACT dashboard.
![image](https://user-images.githubusercontent.com/26144740/32498283-4b2d110e-c39d-11e7-92f4-8206f5bef304.png)
![image](https://user-images.githubusercontent.com/26144740/32498401-a1bb8b04-c39d-11e7-8b2e-b903dc5cd509.png)

[2017-11-07 14:29] janpanchalingam1 commented on #59
We have removed the clock from the overview to resolve this issue of timezones in the email notifications and on the front end.

[2017-11-07 15:11] ShrinivasPuranik commented on #899
follow up with field office to correct the data

[2017-11-07 15:12] mpawlowski85 commented on #899
Can we please have a list of  invalid email addresses.

[2017-11-07 15:13] ewheeler commented on #899
we can probably identify most of them by checking against valid TLDs: http://data.iana.org/TLD/tlds-alpha-by-domain.txt

[2017-11-07 15:21] ewheeler commented on #805
one possibility would be to display a warning banner on the PD detail page (in draft or any other status) that warns if the associated PCA is suspended or terminated. then the user will have an idea of why their PD cannot change status

[2017-11-07 15:49] ShrinivasPuranik commented on #481
Short term : add a inactive flag and analyse the dependencies
long term: as part of approach to address changes in GIS data @Gavin

[2017-11-07 18:44] #497 closed

[2017-11-08 12:12] daniel-tabarcea opened #901 "Fix PD/SSFA add ammendments"
- Go to a PD/SSFA status Active or Signed
- Go to Review&Sign tab
- Go to Amendments
Expected: There should be a button to add amendments
Result: add amendment button is missing

[2017-11-08 12:19] adi130987 commented on #846
TODO:
* add missing summary fields bindings once API has necessary data
* implement download report functionality
* update UI for report progress cluster indicators (ternary color to be used)

[2017-11-08 13:02] reinbach commented on #891
Both point 1 and point 2 have been resolved. You are correct it was related to the ordering of the lists.

[2017-11-08 13:04] reinbach commented on #246
`django-activity-stream` has been removed as a requirement. This is currently in `prp-refactoring` branch.

[2017-11-08 15:06] vkurup commented on #891
Thanks @reinbach! I'll move this to the "In PRP Integration" column in waffle.

[2017-11-08 21:25] mpawlowski85 opened #902 "Remove Error Tooltip"
The error tooltips have to be removed from everywhere where they appear:
- The PD/SSFA List
- PD Details Tab
- PD Overview Tab
- Partner Overview
- CSO Dashboard.

This is due to inconsistencies with the FR validations. The tooltips will come back once the validations are re-designed.

[2017-11-08 21:28] aldohunicef opened #903 "User profile - empty fields"
1. Users have all the proper configuration and information (country workspaces, phone, office, etc)
2. User click on profile in the dashboard
3. The profile screen displays only empty fields and the loading sniping doesn't stop

[2017-11-08 21:29] aldohunicef commented on #903
![image](https://user-images.githubusercontent.com/26142645/32575422-f0825312-c4a1-11e7-880c-d05899ba6685.png)

[2017-11-08 21:30] aldohunicef commented on #903
![image](https://user-images.githubusercontent.com/26142645/32575455-121d4784-c4a2-11e7-810e-fe8c0cc3ebd1.png)

[2017-11-08 21:30] aldohunicef commented on #903
![image](https://user-images.githubusercontent.com/26142645/32575468-1db854b2-c4a2-11e7-931f-29190661b0d6.png)

[2017-11-08 21:33] aldohunicef commented on #903
![image](https://user-images.githubusercontent.com/26142645/32575644-96024f4a-c4a2-11e7-9937-9910c919d233.png)

[2017-11-08 21:34] mpawlowski85 commented on #729
@adi130987 Lets put this on hold for now. it turns out we have bigger fish to fry. Thanks for the input though. We will come back to this in a different card in a few weeks time.
thanks!

[2017-11-08 21:40] domdinicola commented on #841
Can you please provide the new message?

[2017-11-08 21:57] mpawlowski85 commented on #841
One or more of the FRs are used by another PD/SSFA or could not be found in eTools.

[2017-11-09 07:57] adi130987 commented on #729
@mpawlowski85 you're welcome.

[2017-11-09 08:28] roxanavlad commented on #895
test result: pass
tested on Demo environment on Chrome and IE11

[2017-11-09 10:56] acory opened #904 "Settings/Disaggregation list style issue"
Issue: On Demo there is some extra space between the header of the table and the first row and it shouldn't be

[2017-11-09 11:44] adi130987 commented on #902
@mpawlowski85 @ntrncic I made the changes everywhere in all the PMP pages listed in this issue description (will be deployed to staging today). Now the validation will only show on `Funds Reservations` card.

[2017-11-09 13:07] roxanavlad commented on #659
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-09 13:44] roxanavlad commented on #753
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-09 14:07] daniel-tabarcea opened #905 "Fix reporting requirements 404 error"
- On the demo server go to an intervention
- Try to add a reporting requirement
Expected: reporting requirements has been added
Result: An error message is shown. When checking the console, the error is 404, the path is https://etools-demo.unicef.org/api/v2/interventions//reporting-periods/

[2017-11-09 14:45] roxanavlad commented on #871
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-09 15:01] ntrncic commented on #874
There are trips that have been created prior to Release 3. These trips were migrated to Completed status but do not have a completed date and therefore cannot be counted for the current Year HACT.

[2017-11-09 15:32] mpawlowski85 commented on #902
@adi130987 sorry - I forgot about the Sign&Review tab
can we please remove it from there as well?

[2017-11-09 15:34] adi130987 commented on #902
@mpawlowski85 I cannot, but we can ask @daniel-tabarcea to make the changes.

[2017-11-09 16:21] drzackyll commented on #903
see #896

[2017-11-09 16:44] daniel-tabarcea commented on #902
@mpawlowski85 I've made the changes, they're in develop.

[2017-11-09 18:45] ntrncic opened #906 "In amendment flag"
Ability to tag the intervention in amendment state.

[2017-11-09 20:07] domdinicola commented on #758
@mpawlowski85 here we receive this message because vision doesn't provide a partner_type for this record. Are there other conditions where we have to show this message?

[2017-11-09 20:08] mpawlowski85 commented on #902
@daniel-tabarcea @adi130987 thanks very much for the fast turnaround of this short notice work! much appreciated!

[2017-11-09 21:31] domdinicola commented on #758
![error_PRG2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59e4e5312dd47000118bbd43/125516c66e82c728ace21e0d46ed86882c90bc99bdceed01e81fe086264c22703d46f96925dde17feb137f575d0b4bff46500b45fcf8db23f0e73f71984019af80330b2b9b645bf9fa9015ad00b22a8a4a84b6be8c4fc0eb3a2ce6889d02.png) I can do this or we have to ask the front end guys to act on this

[2017-11-09 21:33] mpawlowski85 commented on #758
that looks ok

[2017-11-09 21:37] marindikanovic opened #907 "Unable to change PCA status in Admin Panel"
I am unable to update the Status of a PCA from Draft to Signed in the Admin panel when there is a duplicate PCA. For example:

Workspace: Malawi
Partner: The Story Workshop
https://etools.unicef.org/admin/partners/agreement/5/change/?_changelist_filters=partner__id__exact%3D43

[2017-11-09 21:39] marindikanovic commented on #907
![Malawi CO PCA.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59540802c0cc05001ffc53c0/125516c66e82c728ace21e0d46c5959622958ae9acc6ff73877cb2d86b56357c2301a03f32dfa17de7402c555e0b48ae155d0c43f4ad882ba7e43426db5f0affcd7f1d2598694ef1e1c84afd13b0328a478fb7b98b4cc2ee3e20e38b88463d0c48.PNG)

[2017-11-10 09:03] adi130987 opened #908 "Reports list changes"
* remove locations from list details row
* hide details row on PD report tab
* make sure page number is reset to `1` each time filters are changing.

[2017-11-10 09:06] adi130987 opened #909 "Report download action"
Update report download functionality.
A report can be donloaded using this URL:
`/api/unicef/[country_id]/progress-reports/[progress_report_obj_id]/annex-C-export-PDF/`

[2017-11-10 09:08] adi130987 opened #910 "Report summary tab updates"
* funds received to date field data should be available on the PRP API under progress report object `programme_document` data.

[2017-11-10 09:13] adi130987 opened #911 "Server errors handling updates"
* `An error occurred on data save` toast notification is shown if some endpoint returns a 500 error code, but the request was not about saving data.
* For each data category: partners, agreements, interventions, reports we need to handle 404 responses on details pages. For example you modify the id in the URL on PD details and that PD doesn't exists you will see the page, but with errors (same mes

[2017-11-10 09:17] adi130987 opened #912 "PMP loading messages on page category change"
Find a way to clear all previous loading messages queue if the page category is changed.

For example:
* go to partners pages, the partners loading messages will show
* do not wait for page to completely load and got agreements or interventions or reports

You will notice that after the new category page is displayed the previous loading messages from partners will show again.

[2017-11-10 09:25] adi130987 opened #913 "Set PRP host by environment"
For each environment PRP host is different. We need to add a functionality to automatically detect and use the right PRP host in PRP endpoint call.

Update `EtoolsPmpApp.EndpointConfig.tokenEndpointsHost.prp` to get prp host dynamically:

* local: `http://127.0.0.1:8080`
* test: `https://etools-test.unicef.org`
* demo: `https://etools-demo.unicef.org`
* staging: `https://etools-staging.unicef.org`

[2017-11-10 09:40] adi130987 commented on #824
done in other PRs of PRP Integration

[2017-11-10 09:40] #824 closed

[2017-11-10 15:28] aldohunicef commented on #903
@drzackyll Thanks Zach, please put one or two lines for the waffle card next time because we couldn't identify what was "fix profile dialog dismissal"

[2017-11-10 15:42] reinbach opened #914 "Users module test coverage"
Relates to #645

[2017-11-10 19:29] drzackyll commented on #896
connects to #903

[2017-11-10 20:55] ntrncic opened #915 "Agreement Amendment CP Extension"
Agreement amendment type CP Extension was taken out of the api dropdown. The type is still there for the record but doesn't appear in the frontend. Can we show the agreement type even tho it's not in the dropdown?

[2017-11-10 21:09] ntrncic opened #916 "Denormalize data for Admin panel"
data transformations that denormalizes the data, for basic stats

[2017-11-13 07:26] adi130987 commented on #915
Yes, we can show the amendment type for the old records event if it's not on the API anymore and it's saved on agreement. We just have to know the value saved for Amendment Type `CP Extension`. It might be the same text, but I'm not sure.

[2017-11-13 14:28] marindikanovic commented on #889
Thanks Evan. It would be great if we could build a standardized date system in the Admin panel.

Currently some dates are displayed as “Nov. 7, 2017” and others as “2017-11-07”.

Can we use the format “Nov. 7, 2017” throughout the Admin panel?

Marin

[2017-11-13 14:49] roxanavlad commented on #853
test result: pass
tested on demo environment on Internet Explorer 11 and Google Chrome

[2017-11-13 15:24] roxanavlad commented on #848
test result: pass
tested on Jordan workspace, on demo environment on Google Chrome and IE 11

[2017-11-13 15:45] #814 closed

[2017-11-13 15:50] roxanavlad commented on #832
@daniel-tabarcea
"due_date must be on or after end_date" - keys are displayed in the toast message when dates are not valid

[2017-11-13 15:57] domdinicola opened #917 "Remove unused commands"

[2017-11-13 16:52] marindikanovic opened #918 "Trip is blank in eTools"
The following trip isn't showing in eTools: https://etools.unicef.org/t2f/edit-travel/24800

For the user (Ali Chamseddine), he sees the following details, which includes Office, Supervisor and Section.

[2017-11-13 17:29] mpawlowski85 commented on #796
Closing this issue. @evrimm to set up a new card to cover the  new requirements for showing the required fields.

[2017-11-13 17:45] daniel-tabarcea commented on #911
Since some of the changes implemented by this task were also requested in #807 we should close that one when this gets merged. Or should i close it now?

[2017-11-13 18:02] marindikanovic commented on #918
<img width="1311" alt="screen shot 2017-11-10 at 12 58 37 pm" src="https://user-images.githubusercontent.com/29664134/32741060-f5010db4-c872-11e7-9257-997fc973e081.png">

[2017-11-13 18:59] ntrncic commented on #915
the value in the db is `CP extension` in the frontend it should show `Extension of Country Programme Cycle`

[2017-11-13 21:52] marindikanovic commented on #873
Here are the COs that do not have a locations hierarchy in eTools:

1.	Lebanon
2.	Kenya
3.	Nepal
4.	Sierra Leone
5.	Myanmar
6.	Indonesia (only admin1 in eTools, no data in HDX – I am not sure why)
7.	Kazakhstan (no data in HDX, I imported locations from GADM – no admin2/admin1 hierarchy, only admin0/admin1)
8.	South Africa (only admin1 in eTools, only admin1 in HDX)
9.	Malawi

[2017-11-13 21:55] reinbach commented on #916
Airflow (https://airflow.readthedocs.io/en/latest/) to handle flow of steps for data migration and gathering stats

[2017-11-13 22:08] evrimm opened #919 "Locations - See all function"

[2017-11-13 22:09] evrimm commented on #919
<img width="723" alt="screen shot 2017-11-13 at 5 05 42 pm" src="https://user-images.githubusercontent.com/1585349/32751958-786bcb40-c895-11e7-962a-acd852926730.png">

[2017-11-13 22:16] evrimm opened #920 "Hide Display type unless Indicator type is Percentage/Ratio"

[2017-11-14 10:50] daniel-tabarcea commented on #832
That's the way the message comes from the back-end: `{"non_field_errors":["end_date must be on or after start_date"]}`
@ntrncic can you please have a look at it?

[2017-11-14 12:56] janpanchalingam1 commented on #887
Passed testing

[2017-11-14 13:24] adi130987 commented on #846
closes #909 #910

[2017-11-14 14:44] csabadenes opened #921 "API changes for PMP - add data to country/v3 endpoint & change "signed_by_unicef_users" for dropdown data"
- For endpoint /api/v2/dropdowns/pmp in the 'signed_by_unicef_users' I need a rename of properties from user_id & full_name to id & name

 - We have to upgrade to v3 for user endpoints. But v3 of this endpoint: /api/v3/users/country/ returns less data than the one we currently use /api/v2/users/country/. So please add the data returned by the v2 version to v3, as well, for endpoint /api/v3/users/c

[2017-11-14 14:46] drzackyll commented on #894
see #903

[2017-11-14 15:55] anusenan commented on #827
Marcin will talk with Angela about updating the names in Vision . APIs and eTools serializers will be updated basis step 1 to pick current country name

[2017-11-14 15:59] mpawlowski85 commented on #760
This requires the new API for partner data to be used.

[2017-11-14 16:00] anusenan commented on #907
Unable to delete the duplicate PCA

[2017-11-14 16:07] ShrinivasPuranik commented on #889
Call out specific screens (user facing),

Admin Panel issues are only restricted only to  few users

[2017-11-14 16:20] marindikanovic opened #922 "Remap Sections - Trip Management"
Pleas remap the Sections in Trip Management to reflect Sections in Partnership Management.

[2017-11-14 16:31] marindikanovic opened #923 "Page in Partnerships (CSO Dashboard) never loads"
When a user clicks on Dashboards, then Partnerships (CSO Dashboard) the page never loads.  This  is happening for us here in HQ and users (in production). Some of the COs experiencing this are Tanzania, South Sudan, UAT etc.

[2017-11-14 16:33] marindikanovic commented on #923
![loading page issue](https://user-images.githubusercontent.com/29664134/32791717-ab5c6812-c92f-11e7-8953-5147a2820dda.PNG)

[2017-11-14 16:42] marindikanovic commented on #918
here is the error link: https://etools.unicef.org/api/t2f/travels/24800/

[2017-11-14 20:20] mpawlowski85 commented on #897
This is the enhanced API to show the CP Structures that have no Outputs.
https://websvcdev.unicef.org/BIWebAPI/BIWebService.svc/GetProgrammeStructureList_XML/0120
Can you please update your serializers and confirm once you are done, so that the Insight team can roll out the new API to PROD.
You can use the Business Area 234R to see an example of a CP that has no outputs.
Please note that the test

[2017-11-15 15:09] adi130987 commented on #807
closed by #911

[2017-11-15 17:10] domdinicola commented on #653
we are going to get rid of this

[2017-11-15 21:54] drzackyll opened #924 "Fix cross browser issues, doubling pageviews in Piwik component"
Events are throwing some errors due to cross browser issues.

Page loads are being double counted: once by trackPageView, and once by trackEvent.

[2017-11-16 07:50] roxanavlad commented on #905
test result: pass
tested on demo environment on google chrome and IE 11

[2017-11-16 08:36] adi130987 commented on #798
I do not understand @ShrinivasPuranik last comment... I've seen this issue is on deck, but I don't know what exactly should be changed. Should we make email required no matter phone is filled or not? @mpawlowski85?

[2017-11-16 11:02] daniel-tabarcea opened #925 "Reporting requirements can be added on closed status"
- Go to a closed PD/SSFA
- Add a reporting period

Expected: Reporting periods should not be editable in closed
Result:  Reporting periods can be added, edited and deleted in closed

[2017-11-16 11:04] daniel-tabarcea commented on #925
@ntrncic We have reporting_periods in the permissions matrix so I will fix this on the front-end, but it might be a good idea to update the back-end too so it doesn't allow these operations

[2017-11-16 16:06] daniel-tabarcea commented on #925
There is an issue with the permissions matrix, on draft it looks like this:
`
  "permissions": {
      "edit": {
        "reporting_periods": false
      },
      "required": {
        "reporting_periods": true
      },
      "view": {
        "reporting_periods": false
      }
  }
`
So it can't be edited in draft and since adding a reporting period requires an intervention id, it can't be done on

[2017-11-16 20:24] domdinicola commented on #760
We are trying to integrate the new API:
the API is providing 3 fields

PURCHASING_BLOCK	VARCHAR2	Purchasing Block
POSTING_BLOCK	VARCHAR2	Posting Block
BLOCK_FUNCTION	VARCHAR2	Block Function

we need to know which field to use and the mapping since all three are VARCHAR2

[2017-11-16 21:47] mpawlowski85 commented on #760
@domdinicola we will have to use
POSTING_BLOCK	VARCHAR2	Posting Block
thnaks

[2017-11-17 09:36] adi130987 commented on #357
better solution: https://github.com/PolymerElements/app-localize-behavior

[2017-11-17 14:38] roxanavlad commented on #620
test result: pass
tested on demo environment on google chrome and IE 11

[2017-11-17 15:53] roxanavlad commented on #832
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-17 21:25] drzackyll commented on #924
new version was created (1.0.3)

[2017-11-20 07:47] roxanavlad commented on #782
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-20 08:36] roxanavlad commented on #904
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-20 09:13] roxanavlad commented on #629
test result: pass
tested on demo environment on Google Chrome and IE11

[2017-11-20 10:06] acory opened #926 "Indicator required fields behavior improvement"

[2017-11-20 10:31] roxanavlad commented on #901
test result: pass
tested on Google Chrome and IE 11

[2017-11-20 17:02] domdinicola commented on #760
trying to change the endpoint there are some problems:

for the same country (Jordan) we have different number of results:
GetPartnerDetailsInfo gives 128 results
GetPartnershipInfo gives 1299 results

moreover

CSO_TYPE is not always there
RISK_RATING is not always there
CORE_VALUE_ASSESSMENT_DT is 19-JUL-13 not datetime and not always there
DATE_OF_ASSESSMENT is 19-JUL-13 not datetime and not al

[2017-11-20 18:44] evrimm commented on #889
The format we had decided for dates is dd mmm yyyy (e.g 20 Nov 2017) as this is the best option for readability. It has already been applied in most of the apps. Hopefully it will be compliant with Arabic and Chinese when we do localization. @marindikanovic Can you check this with some native speakers, please? Also, where do you see “Nov. 7, 2017” as I have never encountered that format?

@Shriniv

[2017-11-20 19:55] janpanchalingam1 commented on #634
Retested. Failed Testing. The text says 'Itinerary (1)'. Text should read 'Itinerary (optional)'
![image](https://user-images.githubusercontent.com/26144740/33038500-d8c32444-ce02-11e7-9df6-907ca7681ccf.png)

[2017-11-21 13:39] reinbach commented on #916
Added `warehouse` branch to `etools-infra` that has a dev environment with;
- airflow (https://airflow.readthedocs.io/en/latest/)
- redash (https://github.com/getredash/redash)
- superset (https://superset.incubator.apache.org/)

See Data Warehouse Brainstorming doc at https://unicef-my.sharepoint.com/:w:/r/personal/ewheeler_unicef_org/_layouts/15/WopiFrame.aspx?sourcedoc=%7Bd8424ac9-768e-44f9-a58

[2017-11-21 13:55] marindikanovic commented on #889
Hi Evrim,

The following date format (Nov. 7 2017) is in the Admin panel.

[cid:image004.jpg@01D35A2C.02CC9860]

I will check Arabic/Chinese compliance.

Thanks,
Marin

From: evrimm [mailto:notifications@github.com]
Sent: Monday, November 20, 2017 1:44 PM
To: unicef/etools-issues <etools-issues@noreply.github.com>
Cc: Marin Dikanovic <mdikanovic@unicef.org>; Mention <mention@noreply.github.com>
Su

[2017-11-21 14:07] mpawlowski85 commented on #897
Test failes
In MENARO and SXB - no CP is present.

[2017-11-21 14:31] marindikanovic commented on #907
Tested in Staging, passed.

[2017-11-21 14:58] reinbach opened #927 "EquiTrack test coverage"
Relates to #645

[2017-11-21 15:26] marindikanovic commented on #903
passed in Staging. Page now loads.

[2017-11-21 15:27] acory opened #928 "Unit tests for reports pages"

[2017-11-21 16:39] reinbach opened #929 "Add Show AP flag for User"
For user profile detail endpoint (MyProfileAPIView) add `show_ap` flag that is True if user in list of allowed countries

['UAT', 'Lebanon', 'Syria', 'Indonesia', 'Sudan', 'Syria Cross Border']

[2017-11-21 21:55] janpanchalingam1 commented on #874
Emailed RSS's and Rollout on November 9 and November 21, awaiting confirmation on running a script to update the completed date from 'NA' to March 6, 2017.

[2017-11-22 09:58] roxanavlad commented on #877
@daniel-tabarcea
- For the Send back to partner dialog: mark the Feedback/Comments field as mandatory if left blank and clicking on the Send Back to Partner button

- For the Accept dialog: display a message/ toast that the rating of the overall progress is mandatory when no checkbox is checked and clicking on the Rate & Accept report  (another option would be disabling the action button until a r

[2017-11-22 12:03] roxanavlad commented on #890
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-22 13:27] daniel-tabarcea opened #930 "Investigate staging console errors"

[2017-11-22 13:34] daniel-tabarcea commented on #930
![error 1](https://user-images.githubusercontent.com/17467562/33130025-9fa0e31a-cf9a-11e7-8aa8-4ea055b3b18c.png)
![error 2](https://user-images.githubusercontent.com/17467562/33130026-9fbffd36-cf9a-11e7-9120-55d5b7c5c429.png)

[2017-11-22 16:28] marindikanovic commented on #889
I checked with Keri and Issmail. Although Chinese (Mandarin) doesn't use the dd mmm yyyy format (they use yyyy mm dd), I don't see this impacting our work too much. China CO is the only one using Mandarin (that I am aware of), and work is done mostly in English anyway. Same goes for Arabic.

[2017-11-22 17:03] domdinicola opened #931 "Sorted Countries in the Admin"

[2017-11-22 17:13] domdinicola opened #932 "PCA fixed PDF functionality"

[2017-11-22 19:30] marindikanovic opened #933 "Itinerary section expands once a user opens a saved trip"
When reopening a saved trip the "Itinerary" section expands and all the fields are visible. It should remain collapsed, just like it is when creating a new trip.

Here are the steps to recreate it:

1. Add new trip
2. Complete the "Overview" section and click Save (trip is in Planned status now)
3. Go back to the list of trips, and click on the new trip you just created
4. The "itinerary" section

[2017-11-22 19:56] mpawlowski85 commented on #798
@adi130987
so we want the red marking to stay on the email field, even if the partner phone number is filled in.

[2017-11-22 20:53] IssmailNnafie opened #934 "Partner not showing up in Guinea account"
Missing an active IP in the Guinea account with whom Unicef had a transaction on 26 Oct this year. The vendor number is 2500236627

[2017-11-23 12:20] acory opened #935 "Save user profile issue"
Country: Jordan
Edit user profile
Change Section and Office
Save.

[2017-11-23 13:13] daniel-tabarcea opened #936 "Update PD/SSFA permissions matrix"
The permission matrix for PD/SSFA looks like this when the pd is in draft:
`"permissions": { "edit": { "reporting_periods": false }, "required": { "reporting_periods": true }, "view": { "reporting_periods": false } }`

So neither editing or viewing is possible. Same for all the other statuses.

[2017-11-23 13:14] daniel-tabarcea commented on #925
Created #936 for the permissions matrix issue.

[2017-11-23 13:50] IssmailNnafie commented on #934
This vendor doesn't show up either: 2500214234

[2017-11-23 16:01] csabadenes opened #937 "Users v3 API url issues"
- fix regex issue in API URL
 - address TODO

[2017-11-23 19:04] daniel-tabarcea opened #938 "Fix intervention progress console error"

[2017-11-24 08:08] roxanavlad commented on #829
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-24 14:24] csabadenes commented on #935
As far as i can see, there are two separate issues:
1. PK error on Section change - this seem to happen because the data source of the Sections was changed to Sectors, the User Profile is still tied to Sections, and the selected Sector ID  does not have a corresponding Section. If the User sections too will be changed to sectors, this should be fixed on the backend.
2. PK error for Offices - as fa

[2017-11-24 14:43] acory opened #939 "Issue saving offices on user profile"
After country change, if the Office on the user's profile is not on the current country there is a backend error on save user profile (Offices: pk '..' does not exist.)
Solution : On save , if office was not changed, do not send it to backend.

[2017-11-24 14:50] acory commented on #935
@csabadenes that's correct. I added etools-issues#939 on front-end  for Office issue

[2017-11-24 14:55] marindikanovic opened #940 "History button in Admin Panel is incorrect"
The History button in the Admin Panel seems to be inaccurate.

In the MENARO workspace, the History button shows Issmail Nnafie changing the status of an intervention (MEN/PCA201702/PD201734), however he doesn't have access to the MENARO workspace.

[2017-11-24 15:07] marindikanovic opened #941 "Create a link to eTools (PMP or Dashboard) in the Admin Panel"
Can we please create a button/ink that takes us directly from the Admin Panel to the eTools dashboard or Partnership Management page?

Currently, we have to change the url to go back to eTools.

[2017-11-27 08:19] roxanavlad commented on #912
test result: pass
tested on demo environment on Google Chrome and IE 11

[2017-11-27 13:59] robertavram commented on #935
for now, please remove association to Sectors and Offices from User Profile... the relationship is from the public schema into the private schema.. that's not good... we need to find an alternative.. but for now there seems to be no value from a business side as far as I know. @domdinicola is this being used in trips in any way?

[2017-11-27 18:19] janpanchalingam1 opened #942 "HACT Dash - Add Assessment Type"
Field 1.1.4: Add 'Assessment Type' column

[2017-11-27 18:22] janpanchalingam1 opened #943 "HACT Dash - Add Flag for expiring assessments"
Field 1.1.6: Flag for expiring assessment - display when the date of the assessment is 4 years old or older

[2017-11-27 18:25] janpanchalingam1 opened #944 "HACT Dash - Add Flag for missing assessment"
Field 1.1.6a: Flag for missing assessment – display when:
1) field 1.1.4 = micro assessment AND no micro assessment is attached or completed; OR
2) if field 1.1.4 = audit results AND no final report has been submitted for the audit in the Auditor Portal
![image](https://user-images.githubusercontent.com/26144740/33282414-97436172-d376-11e7-88fd-7c875bb5b072.png)

Specifications can be found here:

[2017-11-27 18:27] janpanchalingam1 opened #945 "HACT Dash - Add Flag for approaching threshold"
Field 1.1.6b: flag for approaching threshold - display when risk rating is not required and actual cash transfers are > $50,000

[2017-11-27 18:29] janpanchalingam1 opened #946 "HACT Dash - Rename Current Year (1 OCT - 30 SEP)"
Field 1.1.7: Rename "Current Year (1 Oct - 30 Sep)" to "Cash Transfers 1 OCT - 30 SEP"
*Note: this column has to be frozen from September 30 to December 31 for the YEAR filter*

[2017-11-27 18:31] janpanchalingam1 opened #947 "HACT Dash - Planned by Quarter"
Field 1.1.8a(1-4): Display “Planned” programmatic visits by quarter. *Note: changes to PMP are in specifications for PMP 2/3*

[2017-11-27 18:32] janpanchalingam1 opened #948 "HACT Dash - Update MR for PVs"
Field 1.1.8b: Minimum requirement calculation update for PVs - if Cash Transfers are below 2500 then MR = 0

[2017-11-27 18:35] janpanchalingam1 opened #949 "HACT Dash - Completed by Quarter"
Field 1.1.8c(1-4): Display “Completed” programmatic visits by quarter

[2017-11-27 18:36] janpanchalingam1 opened #950 "HACT Dash - Update MR for SC"
Field 1.1.9b: Minimum requirement calculation update for SCs - if an audit is selected, then spot check is not required for the year

[2017-11-27 18:38] janpanchalingam1 opened #951 "HACT Dash - Completed SC by Quarter"
Field 1.1.9c(1-4): Display “Completed” spot checks by quarter

[2017-11-27 18:39] janpanchalingam1 opened #952 "HACT Dash - Update Required for Audits"
Field 1.1.10a: Display “Required” as “Yes” or “blank”
*Notes: changes to PMP are in specifications for PMP 2/3*

[2017-11-27 18:40] janpanchalingam1 opened #953 "HACT Dash - Update Audit Completed Count"
Field 1.1.10b: Update audits completed count. This field is now populating from the auditor portal.

[2017-11-27 18:41] janpanchalingam1 opened #954 "HACT Dash - Update 'follow-up' flag"
Field 1.1.11: Update ‘follow-up’ flag to populate from action points from action point module. When clicking on the flag, redirect to eTools PMP > Partners > Overview > Assessment and Assurance

[2017-11-27 18:42] janpanchalingam1 opened #955 "HACT Dash - Add Filter by Year"

[2017-11-27 18:44] janpanchalingam1 opened #956 "HACT Dash Graphical Display 2.1.1: Required vs. completed programmatic visits"

[2017-11-27 18:44] janpanchalingam1 opened #957 "HACT Dash Graphical Display 2.1.1a: Required vs. completed spot checks"

[2017-11-27 18:46] janpanchalingam1 opened #958 "HACT Dash Graphical Display 2.1.7: Completed Micro Assessments"

[2017-11-27 18:47] janpanchalingam1 opened #959 "HACT Dash Graphical Display 2.1.6: Number of partners with expiring assessments"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:48] janpanchalingam1 opened #960 "HACT Dash Graphical Display 2.1.11: Number of completed audits"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:48] janpanchalingam1 opened #961 "HACT Dash Graphical Display 2.1.8(a-f) and 2.1.10: Total audited expenditure, Total Financial Findings, Total ineligible expenditure, refunds, additional supporting documentation, write-off required, pending unsupported amount, Number of high/med/low findings, and audit opinion"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:49] janpanchalingam1 opened #962 "HACT Dash Graphical Display 2.1.2: Total Cash Transfer by IP"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:50] janpanchalingam1 opened #963 "HACT Dash Graphical Display 2.1.4: Total Cash Transfers by IP Risk Rating"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:50] janpanchalingam1 opened #964 "HACT Dash Graphical Display 2.1.3: Cash Transfer by Partner Type"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 18:50] janpanchalingam1 opened #965 "HACT Dash Graphical Display 2.1.9: Number and percent of spot checks completed by staff"
Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-11-27 22:17] mpawlowski85 opened #966 "Updated FR Validation"
The Major changes are:
- The validation is against the local currency budget entry and the local currency of the FR
- The CSO dashboard must change to account for two currencies

The detailed specs are available here:

[Fund Reservation Validation.docx](https://github.com/unicef/etools-issues/files/1507796/Fund.Reservation.Validation.docx)

[2017-11-28 09:36] adi130987 commented on #688
@mpawlowski85 I can not reproduce this issue. I think you can close this one.

[2017-11-28 14:50] daniel-tabarcea opened #967 "Fix PD/SSFA tabs underline issue"

[2017-11-28 15:29] mpawlowski85 commented on #688
@adi130987 I will close and re-open if ever reported by a user. thanks.

[2017-11-28 15:29] #688 closed

[2017-11-28 15:46] reinbach commented on #927
A lot of the code without coverage are scripts to help with releases/migration of data. I believe this code will be expunged with time.

[2017-11-28 15:47] reinbach opened #968 "Audit test coverage"
Increase test coverage for audit app.

See #645

[2017-11-28 19:18] marindikanovic opened #969 "Trip end date can be before start date"
The end date of the trip (e.g. 15 October) can be before the trip start date (e.g 1 November)

[2017-11-28 19:19] marindikanovic opened #970 "Can't select today's date as the start date of the Action Point"
Uses are unable to select today's date as the due date of the action Point (earliest date can be tomorrow's date)

[2017-11-28 19:22] marindikanovic opened #971 "Modify trip approval email - remove "Estimated Trip Cost" and "Cost assignment""

[2017-11-28 19:23] marindikanovic opened #972 "Person responsible for trip should be a name and not a number (in Export)"
When exporting trips, the "person responsible" for the trip is a number and not a name of the person.

[2017-11-28 19:24] marindikanovic opened #973 "In Action Points list when "SAVE AS OPEN" is clicked on the status bar, the status changes to "Ongoing" instead of "Open"."
Steps:

-Go to Action points list.
-Click on any action point assigned to you, status should be "open" or "cancelled".
-Update any field.
-Go to status bar, click "Save as open"

Result: The status changes to "ongoing". Ideally status should be updated as "Open".

[2017-11-28 19:27] marindikanovic commented on #973
![image](https://user-images.githubusercontent.com/29664134/33339782-3e13aff8-d448-11e7-8c99-944345b4e43b.png)

[2017-11-28 20:11] marindikanovic commented on #972
![image](https://user-images.githubusercontent.com/29664134/33341935-5e1ab9a8-d44e-11e7-971e-4fb45328af7f.png)

[2017-11-28 20:11] marindikanovic commented on #971
![image](https://user-images.githubusercontent.com/29664134/33341955-6b0cb7d8-d44e-11e7-9f7a-a53b6ab3b6d7.png)

[2017-11-28 20:11] marindikanovic commented on #970
![image](https://user-images.githubusercontent.com/29664134/33341969-756ca4b8-d44e-11e7-8903-75f2858b9018.png)

[2017-11-28 20:12] marindikanovic commented on #969
![image](https://user-images.githubusercontent.com/29664134/33341996-86a45258-d44e-11e7-986f-626f8f2c9b95.png)

[2017-11-29 06:35] roxanavlad commented on #900
test result: pass
tested on demo environment on Chrome and IE 11

[2017-11-29 10:10] acory opened #974 "Update to latest lodash"

[2017-11-29 11:21] adi130987 opened #975 "PMP - add ES6 support using babel"

[2017-11-29 14:23] janpanchalingam1 commented on #874
@domdinicola @ntrncic confirmed with the RSS's and Marin to mark trips with end date in 2017 and with completed date as 'N.A.' to March 6, 2017. Thank you!

[2017-11-29 16:07] janpanchalingam1 commented on #491
Passed testing

[2017-11-29 19:25] ntrncic commented on #595
we do not have permission for this.

[2017-11-29 20:05] mpawlowski85 opened #976 "Change the CP Structure handling in Agreements"
In Agreements, there is currently a filter on the CP Structure field. The filter must change, as to allow the "Special" CP to be added to the drop down. This means, that the filter should no longer filter out the CP Structures with the "CP" markers. The new filter will be:

Take the list of all CP for the workspace
Omit any CP where the end date is in the past
Omit any CP with indicator 99 as the

[2017-11-30 18:28] mpawlowski85 opened #977 "There must be a way to display only active data in the system (2.1)"
Most of the time a user will extract most utility from eTools if only the active data related to ongoing partnerships is displayed. However, some of the time, especially for analytical purposes, there will be a need to see all data relating to the current country programme or all of the data existing in the system.
There is thus a need for the user to be able to view only active data across the en

[2017-11-30 18:33] mpawlowski85 opened #978 "Attachment Handling (2.2)"
Currently, there are two possibilities for attachment handling – the attachment can either be overwritten or there is no such possibility (resulting in no ability to delete or replace it). The fields where the attachments can be overwritten are: Core Values Assessment, Assessments, PRC Review and all PD attachments. There is no possibility to modify the PCA and PD.
The system should have the follo

[2017-11-30 18:37] mpawlowski85 opened #979 "Blocked Partners marker should be integrated to eTools (3.1)"
The current API does not contain the marker for blocked partners. The new API contains this data point. There should be no possibility to transact in eTools with a blocked partner. This means that blocked partners and partners marked for deletion:
-	Will not be available to be selected from the Agreements drop down menu
-	Will not be available to be selected from the PD/SSFA drop down menu
-	For t

[2017-11-30 18:38] mpawlowski85 opened #980 "Additional Filters – Ability to filter partners by Risk Rating"
Additional Filters – Ability to filter partners by Risk Rating in the Partner Page.

[2017-11-30 18:45] mpawlowski85 opened #981 "Filters and sorting"
1.  All filters should be multiselect

2. All of the columns on all of the lists should be sortable

3. Some of the filters should show up by default on the page (the rest would be hidden in the "Add Filter" option). These are:
Partners: CSO Type, Partner Type
Agreements: Status, Type
PD/SSFA: Status, Type, Section, Office

[2017-11-30 22:05] domdinicola commented on #935
that relationship is not used in trips

[2017-12-01 19:58] mpawlowski85 opened #982 "Adjust the risk rating labels (3.5)"
In January 2016, there was an update to the labels that were used in VISION to reflect the risk ratings of the HACT Procedure. However, only front-end label values were updated, leaving the back end values in the old state. As a consequence, VISION can only provide the old labels. It is necessary for eTools to introduce mapping of the old vs. new labels in order to display the new labels only. The

[2017-12-01 20:00] mpawlowski85 opened #983 "Change the available selections in the Assessment Type dropdown"
Change the available selections in the Assessment Type dropdown (drop the word “report”)

The list   after the changes should look like this:
- Micro   Assessment
- Simplified   Checklist
- Scheduled   Audi
- Special   Audit
- Others

[2017-12-01 20:03] mpawlowski85 opened #984 "Field “Date of Assessment” should be the same as the VISION “Date of Assessment”"
The Field “Date of Assessment” (1.2.4.2) should be the same as the VISION “Date of Assessment” (1.2.3) if an item in the Assessment card is marked as “Basis for risk rating”. If the two dates are not the same, then both should be displayed in Red.

[2017-12-01 20:04] mpawlowski85 opened #985 "The view for attachments and partner contact list should be more compact"
The view for attachments and partner contact list should be more compact  - please see wireframes for details. @evrimm can also provide further guidance.

[2017-12-01 20:07] mpawlowski85 opened #986 "Deactivated Partner Contacts should be hidden from view (3.10)"
Currently there is a facility where a Partner Contact can be marked as inactive. This results in this partner not being shown on any of the dropdown lists (partner focal points and authorized officers).
If a partner is marked as inactive, then this partner should also be hidden from view on the Partner page itself. There should be a “show hidden” function that would display the inactive contacts,

[2017-12-01 20:09] mpawlowski85 opened #987 "New User Notifications generated on the Partner Page (3.11)"
[Partner Page Notificatons.docx](https://github.com/unicef/etools-issues/files/1522851/Partner.Page.Notificatons.docx)

[2017-12-01 20:14] mpawlowski85 opened #988 "Changes to Partner resulting from the Auditor Portal (3.12)"
Once a micro assessment in the AP is in status “Final”, the micro assessment together with the attached file should automatically appear in the Partner record in PMP. The following fields must be populated with the data from the Auditor Portal:
![image](https://user-images.githubusercontent.com/26120371/33501295-11892fee-d6aa-11e7-9c37-8cf45d3868bd.png)

Along with this, a change to the validation

[2017-12-01 20:24] mpawlowski85 opened #989 "Link the Partner Name displayed on top of the page to the Partners Page Record (4.1)"
The Name of the Partner on top of the Agreement Details page should be hyperlinked:
![image](https://user-images.githubusercontent.com/26120371/33501747-b92d6c82-d6ab-11e7-97c6-c0ae3524e19b.png)

The Hyperlink should take the user to the Partner Page record, Overview tab (https://etools.unicef.org/pmp/partners/XXXX/overview where XXXX is the partner ID):

[2017-12-01 20:26] mpawlowski85 opened #990 "Amendments to the Agreements should be listed in reverse chronological order (the newest amendment on top of the list). (4.2)"
The Wireframe is available here:
https://projects.invisionapp.com/share/2KC6KIJG4#/screens/239151886

[2017-12-01 20:27] mpawlowski85 opened #991 "Add a toggle button called “Special Conditions PCA” (4.3)"
The Agreements Detail page should have a toggle button that would read “Special Condition PCA”. By default the toggle is in the “No” position. The button will only show for Agreement Type = PCA and would preclude the user from generating the PCA from the system. The Generate PCA link should disappear when the toggle button is in the “On” position.

[2017-12-01 20:29] mpawlowski85 opened #992 "SSFA/PCA Validation"
The Validation for SSFAs should will follow this logic:

![image](https://user-images.githubusercontent.com/26120371/33501949-57dd61e8-d6ac-11e7-9e82-d54b84b753e4.png)

The error message for the SSFA validation logic is: “There is a signed PCA for this partner within the current country programme cycle. It is not possible to sign an SSFA in this case.”

The message that displays after 1st save wou

[2017-12-01 20:31] mpawlowski85 opened #993 "Delete option should be available for Agreements in Draft status. (4.5)"
The current “Cancel” button should be replaced with a “Delete” button. The button should disappear when an Agreement moves to another status.

[2017-12-01 20:38] mpawlowski85 opened #994 "PD Page Notifications (5.1, 5.2, 5.6)"

[2017-12-01 20:41] mpawlowski85 opened #995 "Adding more than one FR (5.4)"
After the 1st FR is added:
-	The add button “+” should change colour (e.g. to Red)
-	Once a user hits add FR, in addition to the “FR Number” field, there will be an Attachment field called “Note for Record”.
-	The “Note for Record” field will be mandatory and the user will not be able to save new FR unless an attachment is added to it.

[2017-12-01 20:44] mpawlowski85 opened #996 "Add Filters by Donor, Grant and Location on the PD Screen (5.5)"
The List of Programme Documents/SSFA should have additional filters added. These are:
-	Grant: while grant information is not displayed in eTools, the information is available at the FR line item level and it is loaded to eTools databases. One Grant can fund multiple FRs. When a particular Grant is selected, all of the PDs that have FRs associated with that particular grant should be selected. The

[2017-12-01 21:11] mpawlowski85 opened #997 "New “IP Dashboard”"
The dashboard specs are available here:
[New IP Dashboard.docx](https://github.com/unicef/etools-issues/files/1522980/New.IP.Dashboard.docx)

[2017-12-01 21:15] mpawlowski85 opened #998 "New "My Dashboard""
The dashboard specifications are available here:

[My Dashboard.docx](https://github.com/unicef/etools-issues/files/1522990/My.Dashboard.docx)

[2017-12-01 21:19] mpawlowski85 opened #999 "Changes to the CSO Dashboard (6.3)"
CSO Dashboard Change Requests  are available here:
[CSO Dashboard.docx](https://github.com/unicef/etools-issues/files/1522997/CSO.Dashboard.docx)

[2017-12-01 21:21] mpawlowski85 opened #1000 "IP Attachment Library"
The requirements are available here:

[IP Library Dashboard.docx](https://github.com/unicef/etools-issues/files/1523005/IP.Library.Dashboard.docx)

[2017-12-01 21:22] mpawlowski85 opened #1001 "6.4 Changes to the Map Dashboard (6.4)"
The Current Map Dashboard require additional information as well as additional filtering capabilities.
Once a point on the map is selected and the pop up screen should contain (in addition to what is already contained:
-	Donor
-	Grant
-	Section
-	Cluster
-	UNICEF Office
-	PD/SSFA ref number
-	Focal Point
-	CP Output

The Dashboard also needs additional filters. These are:
-	Donor
-	Grant
-	Section

[2017-12-04 10:52] roxanavlad commented on #930
@daniel-tabarcea ,tested on chrome. it is ok on dev

[2017-12-04 13:10] roxanavlad commented on #798
@adi130987 , tested on IE and Chrome and it is ok on dev

[2017-12-04 13:57] daniel-tabarcea opened #1002 "Partner unsuspend error"
![the new error](https://user-images.githubusercontent.com/17467562/33556253-ec366838-d90b-11e7-8cb3-92e35e7352fb.png)

Steps to reproduce:
- go to https://etools-dev.unicef.org/pmp/agreements/112/details, workspace Sudan
- attempt to unsuspend the partner

[2017-12-04 19:51] marindikanovic opened #1003 "Unable to save and submit trip due to "Invalid pk "10" - object does not exist: section" message"
User is unable to save and submit a trip due to an error message.

see steps below:

C:\Users\mdikanovic\AppData\Local\Temp\wz8249\Recording_20171203_1308.mht

[2017-12-04 19:52] marindikanovic commented on #1003
Step 1: (‎12/‎3/‎2017 1:05:50 PM) User left click on "Trip Management (window)" in "Trip Management - Google Chrome"

No screenshots were saved for this step.

--------------------------------------------------------------------------------

Previous Next

Step 2: (‎12/‎3/‎2017 1:06:01 PM) User left click on "Trip Management (window)" in "Trip Management - Google Chrome"

No screenshots were saved

[2017-12-05 11:32] evrimm commented on #981
@mpawlowski85 Let's add:  4. List the filters in the dropdown in alphabetical order

[2017-12-05 11:55] evrimm commented on #943
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277
Tooltip should read: "Micro assessment is expiring soon"   (mock up is not the same)
Icon: access_time

[2017-12-05 12:07] evrimm commented on #944
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277
Tooltip should read: "Micro assessment or audit report has not been submitted through the Auditor Portal" (mock up is not the same) IS it possible to wrap the text within tooltip since it's very long?
Icon: warning at 16 x 16 px

[2017-12-05 12:09] evrimm commented on #945
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277
Tooltip should read: "Micro assessment may be required" (mock up is not the same)
Icon: trending-up at 16 x 16 px

[2017-12-05 12:18] evrimm commented on #947
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277
Show columns 1.1.8a.1 - 1.1.8a.4 only when SHOW QUARTERLY PLAN button is clicked. Enforce pressed state on the button is toggled.
Hide 1.1.8

[2017-12-05 12:24] evrimm commented on #949
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277

Show columns 1.1.8c.1 - 1.1.8c.4 only when SHOW QUARTERLY PLAN button is clicked.  Hide 1.1.8c

Enforce pressed state on the button is toggled.

[2017-12-05 12:25] evrimm commented on #951
See: https://projects.invisionapp.com/share/XEE9IC02V#/screens/264610277

Show columns 1.1.9c.1 - 1.1.9c.4 only when SHOW QUARTERLY PLAN button is clicked.  Hide 1.1.8c

Enforce pressed state on the button is toggled.

[2017-12-05 12:30] evrimm commented on #952
Although possible values for this column are 'Yes' or blank, the Totals row at the top of the table should show the sum of all 'Yes'

[2017-12-05 12:43] evrimm commented on #954
Icon: flag at 18x 18px (mockup is not up to date)
When clicked, open Assessment and Assurance in  anew tab

[2017-12-05 14:34] janpanchalingam1 opened #1004 "HACT Dash - Pop-up of field sources"
Hover functionality for users to be able to view where each field within the HACT dashboard is sourced from

[2017-12-05 15:22] evrimm commented on #955
- Year filter is above the filter bar and set to current year by default when the page loads.
- When the user selects another year, the whole HACT dashboard reloads with that year's data while keeping the other filters that have been set if any.

@janpanchalingam1 more specifications needed here for the specific columns (values) that require "freezing" the data at the end of the year and HACT year

[2017-12-05 15:31] evrimm commented on #1004
Mock up to follow soon..

[2017-12-05 15:43] janpanchalingam1 commented on #970
This is an enhancement. The workaround would be a user creates an action point with due date of tomorrow and complete date of today.

[2017-12-05 15:44] janpanchalingam1 commented on #969
No validation will be built. This is an enhancement.

[2017-12-05 15:44] aldohunicef commented on #970
Discussed already in Prioritization, 5, dec, 2017.

[2017-12-05 15:45] janpanchalingam1 commented on #1003
As this was a one-off issue, and was unable to reproduce. Not prioritized.

[2017-12-05 15:46] janpanchalingam1 commented on #973
This will be re-addressed in the Action Point module development.

[2017-12-05 15:48] janpanchalingam1 commented on #933
This is now marked as optional which is a workaround.

[2017-12-05 15:48] aldohunicef commented on #933
Discussed already. 5-Dec-2017. It did not passed to Backlog

[2017-12-05 15:50] #933 closed

[2017-12-05 15:50] #970 closed

[2017-12-05 15:50] #969 closed

[2017-12-05 15:50] #973 closed

[2017-12-05 15:50] #1003 closed

[2017-12-05 15:56] janpanchalingam1 commented on #875
Jan to test this in staging and assign to engineer

[2017-12-05 15:57] mpawlowski85 commented on #12
Input from RSS:
When exporting the list of PDs, the exports shows UNICEF cash, CSO contribution but not supply data.

[2017-12-05 15:59] ShrinivasPuranik commented on #940
Wait for PRP-PMP code merge

[2017-12-05 15:59] #940 closed

[2017-12-05 18:39] marindikanovic commented on #922
FAILED - Sections that has been remapped show as "Missing Label" in the front end/drop down list of sections in eTools, but remapping appears correctly in Admin Panel.

[2017-12-06 00:50] janpanchalingam1 commented on #955
All fields will remain as is except for Cash Transfer 1 OCT - 31 SEPT. This field will remain as it is on September 31 until December 31.

[2017-12-06 01:37] janpanchalingam1 commented on #961
Outstanding (Requires Follow-up) - should be highlighted in grey in design

[2017-12-06 15:13] evrimm opened #1006 "Status display redesign"

[2017-12-06 17:12] marindikanovic opened #1007 "Change name of workpsace from Fiji to Pacific Islands"
Please change the name of the "Fiji" workspace to "Pacific Islands" in all environments.

[2017-12-06 18:17] vkurup commented on #644
As per the call today, the first line in the description should instead read 'Move factories to the apps where their model is defined'.

(I'll strike through and update it now)

[2017-12-07 09:07] adi130987 opened #1009 "Hide/show reports pages based on a flag"
* hide reports menu option
* hide reports and progress tabs from pd details page

This will be made using a flag that will be received from some API endpoint (later)

[2017-12-07 16:15] daniel-tabarcea opened #1010 "Fix planned visits delete issue"
Steps to reproduce:
- Go to a PD in draft status
- Add a planned visit
- Hit Save

Expected: The planned visit does not have a remove button
Result: The planned visit still has a remove button and pressing it causes a console error

[2017-12-07 17:18] acory opened #1011 "Make built pmp work on windows"

[2017-12-07 18:21] reinbach commented on #918
TLDR: Unicode issues

We save the filename using the following snippet of code;

[code]

So when we pull the data from the database we're in `u"..."` state, and when we have non-ascii chars in the string and attempting to use in with something like `"{}".format(u"...")` we end up with `UnicodeDecodeError`

When attempting to get the file via AzureStorage a call is made to `make_blob_url` in AzureS

[2017-12-08 15:02] vkurup commented on #172
@domdinicola has taken care of paintstore: https://github.com/unicef/etools/pull/1089

I think the only remaining question here is whether we need django-analytical. Does anyone know if we're using the `uservoice` template widget in the admin?

[2017-12-08 18:25] marindikanovic commented on #922
PASSED - the "missing label"  note has disappeared and all new Sections are displayed in Trip Management.

[2017-12-08 21:33] domdinicola commented on #922
Great!!!

[2017-12-08 21:34] #922 closed

[2017-12-11 13:29] daniel-tabarcea commented on #1010
Another similar issue:
- Go to new agreement page
- Fill in the form
- Check the status element to see if the draft step is blue
- Save the new agreement.

Expected: in the status element, Draft is shown in green
Result: Draft is still blue

[2017-12-12 04:05] domdinicola commented on #851
1.1.2 and 1.1.5 should be changed in VISION

[2017-12-12 04:08] domdinicola commented on #851
@janpanchalingam1  1.1.2: what about "Bilateral / Multilateral" and "UN Agency"

[2017-12-12 04:09] domdinicola commented on #851
@janpanchalingam1 when I read actual cash transfer is always referred to TOTAL_CASH_TRANSFERRED_CY right?

[2017-12-12 04:40] domdinicola commented on #943
@janpanchalingam1 should I compare only the year or the dates?

[2017-12-12 04:48] domdinicola commented on #944
@janpanchalingam1 which is the default for other type of assessment?

[2017-12-12 04:57] domdinicola commented on #944
@janpanchalingam1 I will need your help to get info to retrieve the Micro assessment abd how to get info from Auditor Portal

[2017-12-12 05:03] domdinicola opened #1012 "Python3"

[2017-12-12 10:01] daniel-tabarcea opened #1013 "Numerical validation on phone numbers"
Phone number fields in the profile modal and in the partner contacts should have type validation so strings are not accepted.

[2017-12-12 10:04] daniel-tabarcea opened #1014 "Dropdowns should have the option to remove selection"
Currently if you select an option from a dropdown there is no way to deselect it. You should be able to remove a selection and leave the input empty.

[2017-12-12 13:32] janpanchalingam1 opened #1015 "HACT Dash - Cash Transfers January - December"
Field 1.1.6.1: Add Cash Transfers Jan-Dec

Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-12-12 13:34] janpanchalingam1 opened #1016 "HACT Dash - Add Liquidations"
Field 1.1.9.1: Add Liquidations

Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-12-12 13:37] janpanchalingam1 opened #1017 "HACT Dash - Planned SC by Quarter"
Field 1.1.9a(1-4): Display “Planned” spot checks by quarter.
Note: changes to PMP are in specifications for PMP 2/3

Specifications can be found here: https://unicef.sharepoint.com/teams/OED/eTools/_layouts/15/guestaccess.aspx?guestaccesstoken=ICrnaIDkFYXzOtFchO%2bbBgkOK6XB0OD%2bX7pUaU230uE%3d&docid=2_1ad64d07b71f4493189770c448f472dbe&rev=1

[2017-12-12 14:31] #873 closed

[2017-12-12 16:55] janpanchalingam1 commented on #851
@domdinicola we are not including Bilateral / Multilateral and UN Agencies

[2017-12-12 16:55] janpanchalingam1 commented on #943
@domdinicola only by year

[2017-12-12 17:05] janpanchalingam1 commented on #944
No longer a business requirement. Removing from waffle.

[2017-12-12 17:05] #944 closed

[2017-12-12 22:23] domdinicola commented on #950
Field 1.1.9b: not required means 0 right?

[2017-12-12 22:36] evrimm commented on #950
@janpanchalingam1 Similar to Required audits column, if required spots checks is 0, should we not show any values in the UI. It makes it easier to read a whole bunch of numbers when there is less of them.

[2017-12-12 22:41] janpanchalingam1 commented on #950
@evrimm yes, agreed.
@domdinicola yes, not required = 0.

[2017-12-13 08:50] adi130987 opened #1018 "new PD page validation error messages shown from begining"
Some fields on PD details (like partner dropdown) have validation error messages shown from begining.

Steps to reproduce(Chrome):
* go to PD/SSFA list
* go to new PD page

or/and

* go to new PD page and refresh page (browser refresh)

[2017-12-13 21:41] marindikanovic opened #1019 "Increase email address character limit"
Please increase the character limit for an email address.

[2017-12-13 21:52] marindikanovic commented on #1019
From Jean:

My guess is that the email address is too long for eTools because we saved the email address as president@srd.org<mailto:president@srd.org> and it worked on PRD. eTools should allow for a maximum # of characters in the email address.

[2017-12-14 09:28] adi130987 commented on #1014
Not really :) ... the functionality that allows to deselect previous selected option exists, but is not active. We'll activate it only if requested.

[2017-12-14 12:07] acory opened #1020 "Upgrade to polymer v2"

[2017-12-14 12:21] daniel-tabarcea opened #1021 "Remove calls to PRP endpoints"
When the PMP app is running without the PRP integration components, PRP specific calls should not be made to the api.

This issue is a follow-up on the changes from #1009

[2017-12-14 12:28] daniel-tabarcea opened #1022 "Fix interventions patch issue"
Follow-up on the changes performed on #1009

1. turn PRP mode off
2. go to a draft PD
3. Add a new location
4. open the inspector
5. save the PD

Expected: the PATCH request only contains the new location
Result: The PATCH request sends more than the new location to the API

[2017-12-14 12:31] daniel-tabarcea opened #1023 "Check interventions Dexie data"
Follow-up on the changes performed in #1009

When adding a new section or location to a PD, please check to see if the data is being added to Dexie.

And please check with and without the PRP integration components.

[2017-12-14 12:32] daniel-tabarcea opened #1024 "Change PD list filter name"
On the PD/SSFA list, the filter "Sections/Clusters" should be renamed to just "Sections"

[2017-12-15 10:23] acory opened #1025 "Refactoring & imrpovement on indicators and Pd details section"
- Use  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set in intervention-details.html/ method called on-indicators-changed
- Handle Prp endpoint error on cluster indicators

[2017-12-15 13:59] acory commented on #1025
Done in these commits :
https://github.com/unicef/etools-partnership-management/pull/642/commits/665820b398fbc6a1f453a5eedf83a21e91941d16

https://github.com/unicef/etools-partnership-management/pull/642/commits/e1119d98976ef41233b14fd43478e2b465c43a82

[2017-12-15 22:02] mpawlowski85 opened #1026 "New Results Card"
The Result card design should change to include more data.
The wireframe is available from @evrimm

[2017-12-18 11:02] acory opened #1027 "Upgarde Etools-ajax to polymer 2"

[2017-12-18 12:08] adi130987 opened #1028 "Upgrade esmm to polymer 2"

[2017-12-18 16:28] janpanchalingam1 commented on #959
Duplicate of waffle 958

[2017-12-18 16:28] #959 closed

[2017-12-19 16:07] ShrinivasPuranik commented on #1026
Follow up with wireframe

[2017-12-19 16:56] evrimm commented on #1026
@ShrinivasPuranik @mpawlowski85 I will make the changes on wireframes requested by BOs and publish the link this week.

[2017-12-19 17:39] janpanchalingam1 opened #1029 "Changes to PMP resulting from the HACT dashboard"

[2017-12-19 18:53] janpanchalingam1 commented on #943
If there is no date in 'last assessment' from VISION, this will not return a flag.

[2017-12-19 19:03] marindikanovic opened #1030 "Map in eTools displaying wrong information when filtering"
Syria Cross Border workspace:

Issue 1:
*Select 2018-2021 CPC as filter
*It will show PDs linked to previous CP cycle (2014 - 2017)

Issue 2 (still Syria X Border)

* Select Child Protection as filter
* It will show WASH PDs (e.g. Homs Governorate SY 04)

The selection seems completely random. Can we please fix it?

[2017-12-19 19:36] janpanchalingam1 commented on #950
We are going to use the Cash Transfer Oct - Sept, instead of liquidations until we get the API info.

[2017-12-20 09:05] roxanavlad commented on #1018
@adi130987 on Chrome the issue is fixed but on Internet Explorer 11 this behaviour is valid for the "Title" field - is marked as mandatory when accessing the new intervention page

[2017-12-20 14:05] janpanchalingam1 commented on #961
Please add Previous Year column as shown below. Specifications have been updated with these details as well.
![image](https://user-images.githubusercontent.com/26144740/34210708-d37e809a-e564-11e7-9b8e-1393f7546ade.png)

[2017-12-20 17:29] caktus-philip commented on #590
Here's some relevant notes/research. These were accurate in late October when the task was assigned to me but of course things may have changed since then. Specifically, new migrations might have been added that need special handling.

I found this article a useful overview --
https://simpleisbetterthancomplex.com/tutorial/2016/07/26/how-to-reset-migrations.html

## EmailTemplate

There are 5 migr

[2017-12-21 11:18] roxanavlad commented on #967
test result: pass
tested on demo environment on Google Chrome and IE11

[2017-12-21 11:31] roxanavlad opened #1031 "Nav-menu display when prp_mode_off is active"
Reports and Settings modules are initially displayed when prp_mode_off is active.

Expected Behaviour: If prp_mode_off is active, Reports and Settings modules should be hidden when first accessing the app or reloading a page

[2017-12-21 11:40] roxanavlad opened #1032 "IE - text overlapping in New PCA agreement form"
When creating a new agreement, if PCA is selected as Agreement Type, the message "The You have to save the agreement before you can generate a PCA template" overlaps the "Upload file" link.

Issue is reproducible only on Internet Explorer

[2017-12-21 11:51] roxanavlad opened #1033 "IE - PD/SSFA progress page is not displayed"
When accessing the Progress tab of an intervention,  the spinner and the message "Loading progress page elements..." is displayed but the page is not loaded. See screenshot for the console errors.

[2017-12-21 11:52] roxanavlad commented on #1033
![progress_tab_om_ie](https://user-images.githubusercontent.com/28560323/34254745-2706f6d8-e656-11e7-8d3f-fd9485a8b888.png)

[2017-12-21 12:58] roxanavlad commented on #938
test result: pass
tested on demo on Chrome and IE 11
note: on IE there is still an issue for the progress tab, created #1033

[2017-12-21 12:59] roxanavlad commented on #926
test result: pass
tested on demo environment on Google Chrome and IE11

[2017-12-21 14:04] roxanavlad commented on #1024
test result: pass
tested on demo environment on Google Chrome and IE11

[2017-12-21 15:23] acory opened #1034 "Upgrade etools-page-refresh to polymer 2"

[2017-12-21 15:40] acory opened #1035 "Upgrade etools-dialog to polymer 2"

[2017-12-21 16:21] daniel-tabarcea opened #1036 "New PD issue"
1. Make sure the prp_mode_off flag is disabled
2. Go to a new PD
3. Fill in details fields
4. Fill in Review and signed fields: doc. submission date, signed by partner office, signed by partner date, signed by unicef officer, signed by unicef date, signed pd/ssfa
5. Save.

Expected: PD is saved
Result:
![aici ii baiu](https://user-images.githubusercontent.com/17467562/34264502-d0a8e74e-e67b-11e7-9

[2017-12-21 17:34] reinbach commented on #955
@domdinicola I added a test for the year filtering in the HACT app, as it looks like you added the ability to filter by year in the endpoint already.
Let me know if I'm missing something there.

[2017-12-22 16:05] evrimm commented on #1026
@mpawlowski85  Here's the link with updated screens.  https://invis.io/XRF3WA2GM

[2017-12-26 16:39] marindikanovic opened #1037 "Trip with attachment that has French/Arabic characters is blank"
1. User creates a trip and attaches a document that has French or Arabic characters in the name of the document
2. User tries to reopen that specific trip and the trip is blank and there is no status bar.

[2017-12-28 00:41] domdinicola commented on #955
@janpanchalingam1 we agreed that only the export con by filtered by year (the hact structure is dynamic)
@reinbach perfect Greg

[2017-12-28 00:44] domdinicola commented on #954
@drzackyll can you double check the icon?

[2017-12-28 00:49] domdinicola commented on #949
Depende on Field Monitoring and TPM

[2017-12-28 00:51] domdinicola commented on #1017
this depends on prp-refactoring

[2017-12-28 00:51] domdinicola commented on #947
depends on prp-refactoring

[2017-12-28 01:03] domdinicola commented on #952
depends on prp-refactoring

[2017-12-28 01:11] domdinicola commented on #951
depends on field monitoring

[2017-12-28 01:17] domdinicola commented on #961
@janpanchalingam1 we will have to discuss about the previous year

[2017-12-28 01:20] domdinicola commented on #961
I don't understand the Audit Options classification... can you please provide more detail?

[2017-12-28 14:56] drzackyll commented on #954
I thought outstanding findings was being added to the mock-up, not replacing follow-up flag. I will remove the follow-up.

[2017-12-29 15:58] caktus-philip commented on #746
Almost complete! All that remains is for `pro-refactoring` to be merged into `develop` (thus merging #1053 into `develop`) and removing `partners` from the `EXCLUDED_PACKAGES` list in [test_all_models.py](https://github.com/unicef/etools/blob/develop/EquiTrack/EquiTrack/tests/test_all_models.py)

[2018-01-02 16:25] domdinicola commented on #172
@robertavram @ntrncic do you know anything about this django-analytics?

[2018-01-02 16:56] dpoirier opened #1038 "etools Tests failing in 2018"
A number of backend unit tests are failing in the new year.

[2018-01-03 05:02] domdinicola commented on #865
@reinbach is this in prp-refactoring already right?

[2018-01-03 05:02] domdinicola commented on #799
@reinbach this is in prod already right?

[2018-01-03 07:59] domdinicola commented on #1030
@marindikanovic can you provide more information? filter... where?

[2018-01-03 10:31] reinbach commented on #799
@domdinicola this was merged with prp-refactoring (
https://github.com/unicef/etools/pull/937)
So I don't believe it is in prod as yet.

On Wed, Jan 3, 2018 at 12:02 AM, Domenico <notifications@github.com> wrote:

[2018-01-03 10:35] reinbach commented on #865
@domdinicola yes

On Wed, Jan 3, 2018 at 12:02 AM, Domenico <notifications@github.com> wrote:

[2018-01-03 12:06] daniel-tabarcea opened #1039 "Fix 404 issues"
On the built versions of the app, going to a invalid page triggers console errors and does not redirect to the 404 page

[2018-01-03 12:06] daniel-tabarcea opened #1040 "Fix 404 issues"
On the built versions of the app, going to a invalid page triggers console errors and does not redirect to the 404 page

[2018-01-03 12:06] daniel-tabarcea opened #1041 "Fix 404 issues"
On the built versions of the app, going to a invalid page triggers console errors and does not redirect to the 404 page

[2018-01-03 12:55] reinbach opened #1042 "Locations test coverage"
See #645

[2018-01-03 14:19] daniel-tabarcea commented on #1040
duplicate of #1041

[2018-01-03 14:19] #1040 closed

[2018-01-03 14:20] daniel-tabarcea commented on #1039
duplicate of #1041

[2018-01-03 14:20] #1039 closed

[2018-01-03 14:47] marindikanovic commented on #1030
Go to Map (on Dashboard) , click on "Add Filter" on right side of the screen, select 2018-2021 CP cycle, and it will show information for 2014-2017 CP Cycle.

Same for example 2 from previous comment.

[2018-01-03 14:48] marindikanovic commented on #1030
![image](https://user-images.githubusercontent.com/29664134/34524922-397d7ac0-f06b-11e7-8161-a91f3c8759e0.png)

[2018-01-03 15:09] robertavram commented on #996
we need to split this in two tasks... 1 BE, 1 FE.. FE depends on BE...

[2018-01-03 15:11] robertavram commented on #1006
Actual size depends on a spike... the rough estimation is over 40 .

[2018-01-03 15:15] adi130987 commented on #996
FE 13pts

[2018-01-03 15:22] robertavram commented on #996
filters on BE?

[2018-01-03 15:24] robertavram commented on #993
split BE + FE

[2018-01-03 15:25] robertavram commented on #981
this is a lot of work... can we not define exactly what we need? is it adding significant value to sort by everything and multi-select by everything?

[2018-01-03 15:59] KKaselkar opened #1043 "451- Cannot change status of PD/SSFA from Draft to Signed"
Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Create or select a Draft PD (PHI/PCA201836/PD201838)
2. Populate the following fields:
    a. UNICEF Office(s)
    b. UNICEF Focal Point(s)
    c. Partner Focal Point(s)
    d. Start Date
    e. End Date
    f. CP Structure
    g. CP Output/RAM Indicators
    h. UNICEF Cash USD or UNICEF Suppy USD - This is not in the Test Case but popul

[2018-01-03 16:05] KKaselkar commented on #1043
![image](https://user-images.githubusercontent.com/32198614/34528134-ed7429e8-f075-11e7-82e1-91af43e29ef6.png)

![image](https://user-images.githubusercontent.com/32198614/34528146-f8011448-f075-11e7-8a2c-ca87cad01c18.png)

![image](https://user-images.githubusercontent.com/32198614/34528159-00dc3836-f076-11e7-81b6-f0d1a9995646.png)

![image](https://user-images.githubusercontent.com/32198614/3452

[2018-01-03 16:12] KKaselkar opened #1044 "Error saving a new PD"
Create PD/SSFA: Error saving a new PD when values from UNICEF Office(s), UNICEF Focal Point(s), and Partner Focal Point(s) are cleared.

Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Create a new PD
2. Populate Partner Organization, Agreement, Document Type, and Title.
3. Populate UNICEF Office(s), UNICEF Focal Point(s), and Partner Focal Point(s).
4. Clear all selections in UNICEF

[2018-01-03 16:14] KKaselkar commented on #1044
![image](https://user-images.githubusercontent.com/32198614/34528561-43a5d4a0-f077-11e7-8b31-5809491f7d0d.png)

[2018-01-03 16:27] ntrncic commented on #951
@janpanchalingam1  so we would make the calculation without field monitoring. but when field monitoring is completed we have to put the calculation in. How will we track that this has to be done six months down the line?

[2018-01-03 16:29] robertavram commented on #1006
Previous discussions indicated that the fields that need to be shown with checkmarks under the status bar, are the fields that are needed to transition from status tot status... it will be confusing for users if unchecked fields are present in the status bar, but the transition happens anyway...

 This status bar requires custom coding for each form, therefore significantly increasing the complexi

[2018-01-03 16:38] ntrncic commented on #952
@janpanchalingam1 @evrimm  how does a partner get selected for an Audit in the Auditor Portal?

[2018-01-03 16:43] ntrncic commented on #947
card has to be split BE and FE. PMP has to be changed, Hact dashboard has to be updated and Backend changes are needed. Sizing for only backend work.

[2018-01-03 16:47] ntrncic commented on #949
we will add the completed calculations to Auditor Portal and Trips for now. FM and TPM will have to be done once the modules are finished development. How will we keep track that this change has to be done in the future?

[2018-01-03 16:51] ntrncic commented on #1017
card has to be split BE and FE. PMP has to be changed, Hact dashboard has to be updated and Backend changes are needed. Sizing for only backend work. Are there any validations needed for these fields in order to save and transition PDs to a status?

[2018-01-03 16:57] marko911 commented on #1000
Is this a page in PMP or dashboard?

[2018-01-03 16:57] marko911 commented on #998
Can you clarify where this summary page will live ? Is it replacing an existing tab on dashboard or is it an additional one ?

[2018-01-03 18:17] robertavram commented on #999
This issue should be split into all the different items in the doc.
[code]
This implies development of a new filter on Trips module (FE + BE) -> action points screen. given that we're moving to a separate action point module.. please let us know the priority.

rough estimation for this is  3 Pts FE, 5 Pts FE...

Alerts:
Overall proposing that these complex queries are executed once daily and store

[2018-01-03 18:19] ntrncic commented on #1004
How will this be managed when if fields are changed? To manage this in code it will add more time to development of any future HACT changes. One workaround is to have am information page that illustrates this, rather than add more complexity to the code.

[2018-01-03 18:26] KKaselkar opened #1045 "449 - PD/SSFA Reports: Message "An error occurred. Please try again later.""
PD/SSFA Reports: Message "An error occurred. Please try again later." when (1) Clicking on the Reports page navigation or (2) Clicking on the Reports tab of a selected PD/SSFA
Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Click on "Reports" page navigation
OR
1. Click on PD/SSFA page navigation
2. Select any PD/SSFA
3. Click on "Reports" tab

Message, "An error occurred. Please try

[2018-01-03 18:27] KKaselkar commented on #1045
![image](https://user-images.githubusercontent.com/32198614/34533793-c40d7816-f089-11e7-8a6d-2a276be1f120.png)

[2018-01-03 18:33] robertavram commented on #996
Donors and grants.. BE vision synchronizers need to be adapted and tested to include these relationships + address performance concerns. Serializers + moving filtering/sorting on BE. BE estimation excluding locations is 20. @ntrncic

...Not sure how the location filter will work.. it seems like an export with a "pivoted view" on location is desired... not sure if a filter in the frontend is desire

[2018-01-03 19:00] robertavram commented on #981
@adi130987 please update with the effort on the FE side for all fields / everywhere..

[2018-01-03 19:31] robertavram opened #1046 "New Results Backend"
Indicators need to serialize the extra information.. see invision.

ref #1026

[2018-01-03 20:02] robertavram commented on #1026
closes #1046

[2018-01-03 20:42] robertavram commented on #977
FE needs to independently assess this.. there is some lower impact on the backend for serializing some of the partners... This being said.. dropdowns are not included in the filtering as far as we can tell...

This will most lilkely impact every page on the frontend, including pages in Dashboard app...
a 1 - 2 day spike is needed to assess proper estimate... One can safely assume the cost will be

[2018-01-03 20:51] robertavram commented on #1026
On top of UI changes, this card will have dependency on other ones.
We'll reference them as we see them or bring up new cards:

Tasks that will need to be completed:
1. Identifying Indicator type in Results Card
2. Serializing more data on the indicator while maintaining performance
3. Add indicator is showing High Frequency toggle... assuming that will need to be addessed.
4. In order to properly

[2018-01-03 21:01] robertavram commented on #966
spike needed.  @ntrncic

[2018-01-03 21:05] robertavram commented on #939
good catch... @domdinicola .. if there is any place in the system that the user's office is being used, it is in Travel... if it's not used anywhere for any filters concerning users.. my proposal would be to remove the model and add it when we get a use case.. currently the model that is being used for Office was build a long time ago and needs to be deprecated or replaced with a better solution.

[2018-01-03 21:08] robertavram commented on #840
we need to reconfirm this bug... @mpawlowski85 can QA take a looksie?

[2018-01-03 21:10] robertavram commented on #707
@domdinicola this is a friendly error issue.. you've solved one recently.. could you estimate this?

[2018-01-03 21:12] robertavram commented on #971
@marko911 can you estimate this?

[2018-01-03 21:12] robertavram commented on #972
@marko911 can you estimate this?

[2018-01-03 21:15] marko911 commented on #972
@robertavram I believe this is a backend issue. I can take it though if needed.

[2018-01-03 21:16] marko911 commented on #971
What is the issue here ? Expected behavior ?

[2018-01-03 21:17] robertavram opened #1047 "Within the PD Output or SSFA Expected result card, there must be a way to deactivate a PD Output indicator."
Deactivation of a PD output indicator will be done by means of an amendment only. The result would be the IP does not have to report on any of the related indicators in any reports subsequent to deactivation in PRP-IP. If all indicators are de-activated for a certain output, the PD output is considered de-activated.

Ref #1026

[2018-01-03 21:18] marko911 commented on #971
Nvm, was expecting it in the description. @marindikanovic  can you put the problem in the description, its hard to read it if its in the title.

[2018-01-03 21:19] robertavram opened #1048 "High Frequency non-cluster indicators"
There must be an ability to mark each of the individual PD Output Indicators as high frequency humanitarian indicators

[2018-01-03 21:20] robertavram opened #1049 "Reporting Requirements"
The user can add Partner Reporting Requirements in Draft status only.

| This can change with an amendment

Ref #1026

[2018-01-03 21:21] robertavram commented on #155
Is this still valid?

[2018-01-03 21:21] ntrncic commented on #587
@adi130987 could you size this?

[2018-01-03 21:23] robertavram opened #1050 "Intervention Amendment"
The user will not be able to amend PD/SHPD/SSFA Start Date once the document is in Active Status.

[2018-01-03 21:34] ntrncic commented on #1034
@adi130987 please size this

[2018-01-03 21:35] ntrncic commented on #1014
@adi130987 please size this

[2018-01-03 21:36] ntrncic commented on #1013
@adi130987 @daniel-tabarcea please size it

[2018-01-03 21:45] robertavram commented on #646
size unknown.. by the time we find out the size on these kind of issues we might as well fix them :) not sure how to reflect that

[2018-01-03 21:46] #355 closed

[2018-01-03 21:49] robertavram commented on #1045
Reports is not working since PRP is not up and running.

[2018-01-03 21:49] robertavram commented on #1044
@KKaselkar is this still valid?

[2018-01-03 21:50] robertavram commented on #1043
this is most likely related to sections. we'll start on it asap.

[2018-01-03 22:01] KKaselkar opened #1051 "460 - Unable to edit Partner reporting requirements after amendment"
Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Create or select a Signed PD/SSFA
2. Add Amendment

Notice that most fields become editable, but not the fields in the Partner Reporting Requirements card.

Test Case says that user should be able to edit the Partner Reporting Requirements after amending the PD/SSFA

[2018-01-03 22:02] KKaselkar commented on #1051
![image](https://user-images.githubusercontent.com/32198614/34541833-d6d1d28a-f0a7-11e7-9e64-c417aadb125c.png)

[2018-01-03 22:05] KKaselkar opened #1052 "457 - Incorrect Error Message"
Edit PD/SSFA: When all Signatory fields are populated, as well as UNICEF Office(s), UNICEF Focal Point(s) and Partner Focal Point(s) but CP is not, vague message is displayed on Save

Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Create or a new PD.
2. Populate the following:
   a. Partner Organization
   b. Agreement
   c. Document Type
   d. Title
   IMPORTANT: Do not populate CP

[2018-01-03 22:06] KKaselkar commented on #1052
![image](https://user-images.githubusercontent.com/32198614/34541979-78f1fe28-f0a8-11e7-9fb9-4622d37ee5ae.png)

[2018-01-04 11:54] adi130987 commented on #1014
@ntrncic @daniel-tabarcea this is something that should be changed only if requested. For PMP there were no specs to include `None` option in dropdowns (funcionality already in place, it can be activated any time). Maybe we can activate this functionality as we migrate to Polymer 2.

I'll move this issue in the backlog for now and size it.

[2018-01-04 12:15] domdinicola commented on #707
Sure, I think half day should be enough.

[2018-01-04 14:09] domdinicola commented on #939
It's used... there are filters and is displayed as well in the list view.
Looking forward t2f decommission, we can think about removing it if the business agrees.

[2018-01-04 14:10] ntrncic commented on #1000
This is a huge chunk of work that touches on how we handle our attachments, where it is stored and what metadata is captured. There will be significant changes to the backend, frontend and dashboards. In order to fully assess this we need a spike.

[2018-01-04 14:17] adi130987 commented on #1051
There is a new requirement for this here: #1049

[2018-01-04 14:39] robertavram commented on #1047
this requires alignment with PRP. @chachra should be informed / consulted.

[2018-01-04 14:47] robertavram commented on #939
ok.. @acory your solution can work for now... users don't change countries... when they do they should theoretically be mapped to the proper office.

[2018-01-04 15:01] robertavram opened #1053 "CR Reporting Requirements"
There are 3 report types available to be added: - Standard Quarterly Progress Report (QPR) - Humanitarian Report (HR) - Special/Ad hoc Report (SR)

[2018-01-04 15:02] robertavram commented on #1049
possibly depends on #1053

[2018-01-04 15:04] marindikanovic commented on #971
Hi Marko, can you please remove the  "Estimate Trip Cost" and "Cost Assignment" sections from the email notification that a user receives? These sections are no longer relevant. I have highlighted the sections in yellow in the second comment of this card. Thanks

[2018-01-04 15:04] marindikanovic commented on #971
Hi Marko,

Just entered a comment.
Thanks,
Marin

From: Marko Bilal [mailto:notifications@github.com]
Sent: Wednesday, January 3, 2018 4:18 PM
To: unicef/etools-issues <etools-issues@noreply.github.com>
Cc: Marin Dikanovic <mdikanovic@unicef.org>; Mention <mention@noreply.github.com>
Subject: Re: [unicef/etools-issues] Modify trip approval email - remove "Estimated Trip Cost" and "Cost assignment"

[2018-01-04 15:08] robertavram opened #1054 "CR Reporting Requirements QPR"
The user must select “Add Standard Quarterly Progress Report” to add reports to the Partner Reporting Requirements

The Quarterly Progress Report generation is described in detail under 2.1 Generation of Standard Quarterly Progress Report.

Upon selection of Standard Quarterly Progress Report, the system will automatically generate the start and end date of the reporting period as well as the due

[2018-01-04 15:09] robertavram commented on #1054
All of these changes need to align with PRP. @chachra should be aware of our changes, our APIs will need to align.

[2018-01-04 15:10] robertavram commented on #1054
Ticket should be split for the Front End work which depends on BE

[2018-01-04 15:16] robertavram opened #1055 "CR Reporting Requirements HF"
Any PD/SHPD/SSFA that contains at least 1 indicator marked as high frequency humanitarian response indicator requires at least 1 Humanitarian Report to be added to the Partner Reporting requirements.

An indicator cannot be marked as Cluster and high frequency humanitarian response indicator at the same time.

The option to mark an indicator as high frequency should not be available to the user if

[2018-01-04 15:17] robertavram commented on #1048
will contribute to #1055

[2018-01-04 15:19] robertavram commented on #1055
I believe this requirement was slightly tweaked when mocking up... Invision mockup to be added... @evrimm can you please paste the link here.

[2018-01-04 15:20] robertavram commented on #1055
Spike needed to size this.. @chachra will need to be aware of this, strong PRP collaboration needed here for the APIs

[2018-01-04 15:23] acory opened #1056 "Upgrade etools-file to polymer 2"

[2018-01-04 15:24] robertavram opened #1057 "CR PD Contingency Flag"
No reporting requirements are needed to transition Contingency PD to Signed Status.

The Contingency PD toggle will be changed, so that the Contingency PD is permanently marked as such (e.g. with a tick box). Transition of status for Contingency PD from Signed to Active will require separate protocol, as follows:
-	When status is Signed, the User selects “Activate” to make the Contingency PD Activ

[2018-01-04 15:27] robertavram commented on #1057
The business case is not understood from this issue..
One question here: Is this requirement effectively granting the ability to Transition to Active a PD for which the start date has not been reached or are we preventing the "activation" trigger until start date has been reached. I have a feeling that if the desire is to improve the system so that we keep track of the fact that a PD was a conting

[2018-01-04 15:30] robertavram opened #1058 "CR PD Termination"
If a user chooses to terminate the PD/SHPD/SSFA, a new pop up will be introduced, where the termination date will be specified. The user will have to upload a termination notice and the reporting requirements will have to be regenerated based on the termination date (which now will be treated as End Date, and the End Date will be overwritten with the termination date). The Termination Date cannot

[2018-01-04 15:32] KKaselkar opened #1059 "454 - Hide Partner Reporting Requirements Add button"
Browser: Chrome
Environment: Demo
Workspace: Philippines

1. Create a new PD/SSFA.
2. On the Partner Reporting Requirements section, there is a test saying "You must save this PD/SSFA before you can add reportig requirements."

If this is the case, then please disable the Add Reporting Requirement button on the upper-left hand corner of the section

Adding of partner reporting requirements must on

[2018-01-04 15:34] KKaselkar commented on #1059
![image](https://user-images.githubusercontent.com/32198614/34570751-b4bf1980-f13a-11e7-9a64-048756d69a6d.png)

The PD Output or SSFA Expected Result section has the Add button disabled until the PD/SSFA has been saved.
![image](https://user-images.githubusercontent.com/32198614/34570765-be28f0a4-f13a-11e7-80ea-e45155275a70.png)

Same thing when adding Fund Reservations.
![image](https://user-imag

[2018-01-04 15:36] roxanavlad commented on #925
test result: pass
Tested on demo on Chrome and IE

[2018-01-04 15:38] robertavram commented on #1058
discussion needed to clarify.
From a previous discussion, I was under the impression that the original end date needs to be preserved.
Is it expected that a terminated PD will show as "Terminated" before the termination date?

Reports impact will need to be discussed with PRP as well @chachra.

spike will be needed for this

[2018-01-04 15:43] robertavram commented on #1051
A misunderstanding here with the test cases.
The system was designed with un-changeable reporting requirements until we clarified how to re-generate reports and what the validation is on re-shaping reporting periods. If one chooses to re-shape the reporting period for a report that was already submitted that would be problematic...
I believe we reached an agreement on the validation which is docum

[2018-01-04 15:47] robertavram opened #1060 "CR Reports"
The Reports Page (in the global navigation) and the Reports Tab within the PD must be updated.

The pages need to be adjusted to include an additional column “report type” and related filter. Reports can be identified by their acronym QPR, HR/C HR/U (Humanitarian Report Cluster/ UNICEF) and SR, or anything similar that can differentiate the reports, such as icon or otherwise.

[2018-01-04 15:48] robertavram commented on #1060
Depends on PRP work. Spike needed.

[2018-01-04 15:55] KKaselkar commented on #1045
Closing  as PRP will resolve this issue

[2018-01-04 15:55] #1045 closed

[2018-01-04 16:01] KKaselkar commented on #1044
A user can possibly delete the values selected from the fields and try saving the PD, to save a PD these fields arent mandatory hence the system must allow user to save the PD after deleting these values

[2018-01-04 16:24] drzackyll opened #1061 "Update etools-ajax component to handle POST requests (and other methods besides GET)"
Hinders ability to change country in dashboard

[2018-01-04 16:41] marko911 commented on #1030
![Screen Shot 2018-01-04 at 11.38.03 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58ee7ea83da5a7001a4f76dc/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77226454f76b7191a379ee0c2859415f4dbc30254d58eeb9cb74fce36f34985619e8d93f5870c76917aeec874cb809ee218b4ed7beeadb4fc1fa2137a5dad11b61435c52dcbd4f3fb2984cc259f34ae44d5da71a3761e47f326e0a.png)

Issue 2: This

[2018-01-04 17:02] KKaselkar commented on #1051
Closing as 1049 will resolve the issue

[2018-01-04 17:02] #1051 closed

[2018-01-04 17:07] robertavram opened #1062 "ID management POC"
Integration with ID management.. POC on the Django / Polymer stack

[2018-01-04 17:57] KKaselkar opened #1063 "Able to save PD without location"
Browser:Chrome
Workspace:Afghanistan(PRP Disabled)
Env:Demo

User is able to save the PD as Signed and Active,even without selecting the locations.As per the specifications, "Locations" is must inorder to make a PD Singed or Active.

[2018-01-04 17:59] KKaselkar commented on #1063
![image](https://user-images.githubusercontent.com/32198614/34577413-06dba8be-f14f-11e7-9e9e-56baa5a7bb86.png)

[2018-01-04 18:02] KKaselkar opened #1064 "459 - Mandatory fields dont have asterisks"
Browser:Chrome
Env-Demo
Workspace:Afghanistan(PRP Disabled)

Mandatory fields does not appear as mandatory.Asterick sign(*) is not displayed while creating the new PD.

[2018-01-04 18:04] KKaselkar commented on #1064
![image](https://user-images.githubusercontent.com/32198614/34577620-c593eb18-f14f-11e7-8098-76e4f6a4a004.png)

[2018-01-04 18:08] KKaselkar opened #1065 "456 - Location field not editable when PRP is off"
Browser:Chrome
Env:Demo
Workspace:Afghanistan(PRP Disabled)

In PD/SSFA, "Location field is available/active only after PD/SSFA is saved as draft."

Optioins for "Location" field are not available while user is creating a new draft.options are displayed only after the PD is saved as draft.

[2018-01-04 18:09] KKaselkar commented on #1065
![image](https://user-images.githubusercontent.com/32198614/34577790-75bb1db8-f150-11e7-9263-a4ce80b72229.png)

[2018-01-04 18:39] robertavram commented on #1064
None of those fields are required in order to save as draft

[2018-01-04 18:39] #1064 closed

[2018-01-04 18:46] robertavram commented on #1044
@adi130987 @daniel-tabarcea this is a front-end issue.. instead of null.. the request needs to send an empty list

[2018-01-04 19:32] robertavram commented on #966
Clear from the requirement:
1. PD Budget is reduced to 1 currency which is selected in the PD.
2. Regardless of any inconsistency in the budget or frs, regarding dates, budget currency, budget amounts the record will never be prevented to transition to signed, however warnings will show.

Unclear from the requirement:
1. FR Validation changes:
    -  Does the currency of all FRs added need to be t

[2018-01-04 19:59] robertavram commented on #906
This card is needed for PRP-Integration, 1st priority technically.
We need FE Card for this,
Validation methods need to be updated.

BE Size 8, FE is separate

[2018-01-04 20:00] robertavram opened #1066 "FE In amendment Flag"
Relates to #906

[2018-01-04 20:07] robertavram commented on #1052
most likely relates to #1044

[2018-01-04 20:40] marindikanovic commented on #1030
thanks Marko.

[2018-01-04 23:53] marindikanovic opened #1067 "Three data reports"
Hi Domenico,

Could you please run a data report for the following:

1.	Number of unique users who logged in to eTools in the last quarter of 2017 (October, November and December) by Country Office?
2.	Number of interventions (PDs/SSFAs) with “draft” status that have a start date after 1 January 2016 by Country Office.
3.	Number of interventions (PDs/SSFAs) with “signed”, “active” and “ended’ stat

[2018-01-05 08:35] roxanavlad commented on #1010
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-05 10:32] reinbach opened #1068 "Management test coverage"
Increate test coverage in management app

See #645

[2018-01-05 16:13] acory opened #1069 "Upgrade etools-datepiker to polymer 2"

[2018-01-05 17:26] dpoirier commented on #1038
This isn't failing anymore on the develop branch, so closing this issue.

[2018-01-05 17:26] #1038 closed

[2018-01-05 20:23] KKaselkar opened #1070 "464 - Prepopulating values for partner reporting fields"
Browser: Chrome
Environment: Demo
Workspace: Philippines (PRP Enabled)

1. Create or select a Draft PD/SSFA.
2. Add a Reporting Requirement. Populate all 3 date fields. Click SAVE.
3. Edit the Reporting Requirement that has just been added.

Issue #1: The 3 date fields are blank. They should be pre-populated with the values that were entered into them. This way if the user just needed to change 1

[2018-01-05 20:25] KKaselkar commented on #1070
![image](https://user-images.githubusercontent.com/32198614/34626910-96a60ed4-f22c-11e7-8629-870b99a95fbf.png)

4. Populate all 3 date flelds. SAVE.

Issue #2: The message "Saving reporting requirement" just goes on and on.

![image](https://user-images.githubusercontent.com/32198614/34626920-9e6d698c-f22c-11e7-9c5f-dd729d7d1d87.png)

[2018-01-05 20:27] KKaselkar opened #1071 "465 - Message "Removing reporting requirements" just goes on an on"
Delete Partner Reporting Requirement: Message "Removing reporting requirements" just goes on an on

Browser: Chrome
Environment: Demo
Workspace: Philippines (PRP Enabled)

1. Create or select a Draft PD/SSFA.
2. Add a Reporting Requirement. Populate all 3 date fields. Click SAVE.
3. Delete the Reporting Requirement that has just been added.

This message just goes on and on.

[2018-01-05 20:28] KKaselkar commented on #1071
![image](https://user-images.githubusercontent.com/32198614/34627033-06674e2c-f22d-11e7-8587-84c3504b30de.png)

[2018-01-05 20:29] KKaselkar opened #1072 "466 - Partners list is not getting displayed on Dashboard"
Partners list is not getting displayed when "partners" link is clicked on the Dashboard.

[2018-01-05 20:30] KKaselkar commented on #1072
![image](https://user-images.githubusercontent.com/32198614/34627107-50380834-f22d-11e7-8b0d-399657e26c2b.png)

![image](https://user-images.githubusercontent.com/32198614/34627122-5a0e3360-f22d-11e7-9602-7a56210c52a0.png)

Worspace:Afghanistan
![image](https://user-images.githubusercontent.com/32198614/34627129-600981ca-f22d-11e7-86b1-c1fcc137daab.png)

[2018-01-05 20:35] KKaselkar opened #1073 "467 - Incorrect Error message creating second SSFA for same header/agreement."
Incorrect Error message while creating second SSFA for same partner using the same header/agreement.

Browser:Chrome
Env:Demo
Workspace:Bolivia(PRP Disabled)

-Create a SSFA for a partner.
-Create one more SSFA for the same partner using the same SSFA header/agreement.

Error Displayed- "An error occurred. Please try again later."

Ideally the error message should be related to SSFA.

[2018-01-05 20:36] KKaselkar commented on #1073
![image](https://user-images.githubusercontent.com/32198614/34627326-29214084-f22e-11e7-8ada-07bb560453a3.png)

[2018-01-05 20:49] KKaselkar opened #1074 "471 - "Locations" field is editable for a PD with Ended status."
Browser:CHrome
Env:Demo
Workspace: Afghanistan(PRP Disabled)

"Locations" field is editable for a PD with Ended status.

[2018-01-05 20:50] KKaselkar commented on #1074
![image](https://user-images.githubusercontent.com/32198614/34627825-2064b136-f230-11e7-996b-bc218d1bafee.png)

[2018-01-05 20:52] KKaselkar opened #1075 "472 - "Locations" field is editable in PD with Closed Status."
"Locations" field is editable in PD with Closed Status.

Browser:Chrome
Env:Demo
workspace:Afghanistan (PRP DIsabled)

"Locations" field is editable in PD with Closed Status. (PRP is OFF)

  Linking this card with 1074 as they have similar issues.

[2018-01-07 19:20] janpanchalingam1 commented on #1004
@ntrncic thanks for flagging this. @evrimm what do you think about having an information page? For the business owners, it's whatever is simplest from a development standpoint.

[2018-01-07 19:24] janpanchalingam1 commented on #1017
Specifications to be confirmed January 8 for PMP changes and details to follow in #1029

[2018-01-07 19:25] janpanchalingam1 commented on #949
@ntrncic I will be tracking the changes that need to be done once TPM and FM are complete

[2018-01-07 19:27] janpanchalingam1 commented on #947
@ntrncic would you like me to split the cards that you have noted this? Happy to do this, let me know.

[2018-01-07 19:29] janpanchalingam1 commented on #952
@ntrncic from a business standpoint, audits are selected based on the central-audit based approach. This policy was issued in December where HQ identifies which partners require an audit. Once selected, in the Auditor Portal, the UNICEF Audit Focal Point for that particular CO will create an Audit Engagement.

[2018-01-07 19:31] janpanchalingam1 commented on #951
@ntrncic I have tracked future changes for FM and will request this as a change once it is complete.

[2018-01-07 19:52] janpanchalingam1 opened #1076 "Risk Rating relabelling - "Non-Assessed" to "Not Required" and "Moderate" to "Medium""
Once prp-refactoring is in production, please relabel Risk Rating  - "Non-Assessed" to "Not Required" and "Moderate" to "Medium" in the HACT Dashboard

[2018-01-07 19:56] janpanchalingam1 opened #1077 "Flag for Approaching Threshold Update"
In HACT Dashboard, for "Approaching Threshold Flag", please update calculation based on API "Cash Transfers Jan 1 - Dec 31" not "Cash Transfers Oct 1 - Sept 30"

[2018-01-07 20:00] janpanchalingam1 opened #1078 "Spot Check Minimum Requirement Update"
In HACT dashboard, please update the Spot Check MR from "Cash Transfer Oct - Sept" to "Liquidations" from API.

[2018-01-07 20:09] janpanchalingam1 commented on #961
​When an Auditor is completing and 'Audit' engagement, they are able to select an 'Audit Opinion'. The Audit Opinion's are: unqualified, qualified, disclaimer opinion and adverse opinion.

In the HACT dashboard, this would be calculated by a SUM of all completed audits for each Audit Opinion type.

For example, if 2 audits were completed in Jordan and both had "unqualified" Audit Opinions, then th

[2018-01-08 10:45] acory commented on #1073
Seems to be a backend issue :
![500](https://user-images.githubusercontent.com/26309191/34667468-c975aa76-f471-11e7-8caf-1f5548558bf1.png)

[2018-01-08 13:29] daniel-tabarcea commented on #1074
@robertavram @ntrncic  I haven't been able to find an Ended PD  or to change one to Ended, but I've checked for ones that are Closed and `permissions.edit.flat_locations` is set to `true`. Can you check and see if the same issue occurs for Ended?

[2018-01-08 14:56] robertavram opened #1079 "Front End for High Frequency non-cluster indicators"
FE for 1048, see invision. (this is the toggle for high frequency) the cluster toggle will enable / disable this toggle.. if cluster toggle is on.. this toggle disappears. depends on #1048

[2018-01-08 15:29] csabadenes commented on #1043
@robertavram , i have been investigating this(and similar) issues, if this is happening with the "prp_mode_off" flag inactive, then it could be a permission thing.

[2018-01-08 15:57] ntrncic opened #1080 "Add Filters by Donor, Grant and Location on the PD Screen (5.5)"
Donors and grants.. BE vision synchronizers need to be adapted and tested to include these relationships + address performance concerns. Serializers + moving filtering/sorting on BE. BE estimation excluding location/

Depends on #996

[2018-01-08 16:01] ntrncic opened #1081 "CR High frequency indicator changes cluster"
Contributes to #1055

[2018-01-08 16:02] robertavram commented on #1081
When a cluster indicator is selected, a new validation needs to flow against HF (cluster) Reporting Req. The Reporting Freq is imported from PRP (*alignment needed) and displayed as a unique freq in the Reporting requirements. (*invision link to be added) (*actual requirement). BR_PMP.22.11.2017 needs discussion on 2.2 as it introduces extreme complexity. Invision mockup does not represent this. W

[2018-01-08 16:05] ntrncic opened #1082 "Backend Delete option should be available for agreements and PD's in draft status"

[2018-01-08 16:06] ntrncic commented on #1082
depends on #993

[2018-01-08 16:07] ntrncic opened #1083 "CR Reporting Requirements HF Frontend"
Contributes to #1055

[2018-01-08 16:08] marindikanovic commented on #1067
Please disregard numbers 2 and 3, we got the data manually. We still need number 1 as well as:
-  Export which states which Implementing Partners have a Core Values Assessment form attached (by Country Office).

Thanks,
Marin

[2018-01-08 16:09] robertavram commented on #1083
Mockups needed here. Heavily depends on #1081, #1048, #1079 where question are needed

[2018-01-08 16:13] ntrncic opened #1084 "CR Special Reporting Due Dates Backend"

[2018-01-08 16:14] ntrncic opened #1085 "CR Special Reporting Due Dates Frontend"

[2018-01-08 16:26] ntrncic opened #1086 "Updated FR Validation Frontend"

[2018-01-08 16:51] evrimm commented on #996
@mpawlowski85 When you refer to PD page where you requested to show Donor and Grant info after FR is added, do you mean showing them within the Fund Reservations card next to FR number? If so, we have to show each line item for that specific fund reservation header number in order to show all grants.
While looking into this I realized that although we had revisions to FR card a few months back (mo

[2018-01-08 19:46] ntrncic commented on #947
We need to clarify some requirements that affect changes to the PD. Once they're clear we can size this card and create another card for the frontend. @janpanchalingam1

[2018-01-08 20:09] robertavram commented on #1014
this is related to a bug raised... I will check the story and connect here..

[2018-01-08 20:12] robertavram commented on #1073
@ntrncic can this be a uniqueness issue on the reference numbering... weird that it happens.

[2018-01-08 20:14] ntrncic opened #1087 "Notifications Emails"

[2018-01-08 20:18] #1014 closed

[2018-01-08 20:20] robertavram commented on #840
@KKaselkar can you confirm this is still valid?

[2018-01-08 20:27] ntrncic commented on #155
@aldohunicef is this valid?

[2018-01-08 20:52] robertavram commented on #1043
most likely the permission.

[2018-01-08 20:52] ntrncic commented on #1073
If they have old SSFAs where the number was entered by the user this could happen. The error does point to reference numbering

[2018-01-08 20:52] robertavram commented on #1043
@csabadenes take it at your convenience.

[2018-01-08 21:13] robertavram commented on #1075
closing since it's tracked here: #1074

[2018-01-08 21:13] #1075 closed

[2018-01-08 21:14] robertavram commented on #1074
@daniel-tabarcea it's the same in status closed

[2018-01-08 21:18] robertavram commented on #1072
@marko911 this is a link issue.. instead of `/pmp/partners/` it should be  `/pmp/partners/list`

[2018-01-08 21:21] KKaselkar opened #1088 "Incorrect results on CSO Dashboard and PD/SSFa Results page"
Browser: Chrome
Workspace: Jordan
Environment: Production

Filter the list of PD/SSFA starting date as 1Jan 2017 and select all statuses in filter except draft it gives 9 results on PD/SSFA intervention page,
but when same filter applied on CSO dashboard it gives 5 results, when the date is changed to 31 Dec 2016 it displays the correct results on CSO dashboard page similar to PD/SSFA intervention

[2018-01-08 21:22] KKaselkar commented on #1088
![cso dashbord](https://user-images.githubusercontent.com/32198614/34692989-12e09680-f490-11e7-847f-c555fed44822.PNG)
![pd](https://user-images.githubusercontent.com/32198614/34692990-12efa3c8-f490-11e7-89fa-8d87baed140d.PNG)

[2018-01-08 21:23] robertavram commented on #1088
Most likely this is a filtering issue with >= vs >

[2018-01-08 21:24] evrimm commented on #1066
@robertavram  https://invis.io/5MF8GSMHC  click and follow the flow as if you are adding an amendment. This specific flow shows "deactivating" an indicator which is one of the requirements in the PMP changes for PRP BRD.

[2018-01-09 09:23] adi130987 commented on #1074
@KKaselkar please add `PMP` label on issues that are `PMP` related so we can see them better in waffle. Thanks.

[2018-01-09 10:13] domdinicola commented on #952
@drzackyll Zack can you please set this to black in the front end?
This value would be available after prp-refactoring is merged

[2018-01-09 10:41] domdinicola commented on #951
here we need to define a criteria to assign an engagement (spot check in this case) to an year. We have start and end date to help us to decide.

[2018-01-09 11:10] domdinicola commented on #951
I would go for end date since is the criteria used also for Travel/Trip

[2018-01-09 11:58] acory opened #1089 "Upgrate etools-data-table to polymer 2"

[2018-01-09 12:42] adi130987 opened #1090 "etools-content-panel polymer 2 migration"

[2018-01-09 14:11] robertavram opened #1091 "Intervention Amendment change Front End"
Front end for #1050
Should be picked up after #1066, #906 is done

[2018-01-09 14:25] janpanchalingam1 commented on #951
I just spoke with Slavi about this and he would like it to be the ‘Draft Report Issued to UNICEF’ date. Could this work? If so, I will update the specs.

[2018-01-09 14:42] domdinicola commented on #951
Perfect!

[2018-01-09 15:24] adi130987 opened #1092 "etools currency input polymer 2 migration"

[2018-01-09 15:37] mpawlowski85 opened #1093 "PD linked to a different CP than the PCA"
Currently the system allow us to:

-	Create a PD for (let’s say) 2018-2021 CPC with starting dates in 2018
-	But linking it to 2015-2017 PCA (so basically linked to a PCA from the previous CPC)

We should not be allowed to do so, right? If I create a PD for a CPC, there has to be validation like If PD linked to 2018-2021 CPC, then there need to be a PCA for 2018-2021…

This is currently not the ca

[2018-01-09 15:44] evrimm commented on #1004
@ntrncic @janpanchalingam1 I tried to quickly illustrate what I had in mind. Please see here... https://invis.io/XEE9IC02V#/264610277_00_-_HACT_Assurance_Plan , click "Sources". The pop up is draft obviously and would be completed.
It does not pose too much effort for maintenance except from replacing an image file.

[2018-01-09 15:46] janpanchalingam1 commented on #1004
@ntrncic would this work for you guys? It will work for us.

[2018-01-09 16:54] drzackyll commented on #952
@domdinicola absolutely

[2018-01-09 17:49] evrimm commented on #1047
https://invis.io/5MF8GSMHC#/272344588_03_-_Edit_PD-SSFA_-_Amendment_Mode hover on the first indicator to see the deactivate button.

[2018-01-09 20:50] janpanchalingam1 commented on #947
Please hold all work on PMP for changes to PD until specifications are provided in 1029. To be finalized week of January 22.

[2018-01-09 20:54] janpanchalingam1 commented on #952
FYI - PMP changes to Partners screen are to be provided in #1029. To be finalized week of January 22.

[2018-01-10 09:24] roxanavlad commented on #1065
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 09:44] roxanavlad commented on #1041
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 10:26] roxanavlad commented on #1031
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 10:27] acory opened #1094 "Upgrade etools-app-selector to polymer 2"

[2018-01-10 11:07] roxanavlad commented on #1032
test result: pass
tested on demo environment on IE11

[2018-01-10 11:40] adi130987 opened #1095 "Upgrade etools-tooltip element to polymer 2"

[2018-01-10 12:06] roxanavlad opened #1096 "Page refreshing redirects to 404 page or hides Progress and Reports tabs"
Description: Page refreshing redirects to 404 page

Browser: Chrome
Environment: Demo
Workspace: Kazakhstan(PRP mod ON)

Steps to reproduce:
1. Select a Draft PD/SSFA.
2. Open Reports/Progress tab
3. Refresh the page (F5)

Actual result: The page redirects to 404 page

Precondition: Refresh All Data(from eTools bar)
Description: Page refreshing hides Progress and Reports tabs
Steps to reproduce:
1

[2018-01-10 12:07] roxanavlad commented on #1096
![2018-01-10_1402.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5911a51feec3c1001a6ba6ea/125516c66e82c728ace21e0d46bac4cb7bcfd3f8c2b8ef7cf509a0c66b0a65633b0ba92e7391a172fd172303585b4ff8475a0b41affe817fa7b63d22820a5aeed07f4366846c4ff8e7df46f554f832815d84b1b68b49c1ed382de18b8f4d3918020ac4.png)
![2018-01-10_1401.png](https://waffleio-direct-uploads-production.s3.amazonaws.c

[2018-01-10 12:13] roxanavlad commented on #1033
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 12:25] roxanavlad commented on #1070
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 13:34] adi130987 commented on #792
closing... will be done in the new version built on Polymer 2

[2018-01-10 13:34] #792 closed

[2018-01-10 14:01] csabadenes commented on #1036
Solved by #1044

[2018-01-10 14:02] #1036 closed

[2018-01-10 14:07] roxanavlad commented on #1009
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-10 14:38] drzackyll opened #1097 "Upgrade etools-piwik-analytics to Polymer 2"
Upgrade the Piwik tracking component to a more recent version of the Polymer framework.

[2018-01-10 14:51] acory opened #1098 "etools-checkable-input is now deprecated"
Replace etools-checkable-input in pmp with polymer elements paper-checkbox, paper-radio-button

[2018-01-10 14:57] mpawlowski85 opened #1099 "FR Validation Enhancement"
When running the FR validation, the check should also account for the vendor number:
- Check if the vendor number of the partner selected in eTools is the same as the vendor number that was added to the FR in Vision.

the FR vendor number is already integrated into eTools from the API.

IF the vendor numbers are the same, then the validation continues.
If the vendor numbers are different, then an

[2018-01-10 17:01] mpawlowski85 commented on #996
@evrimm
eTools will only know the Donor and Grant information once the FR number is added - hence the display only after the FR number is sucesfully added.
The information about the donor and the grant should be displayed in the PD Overview. Would it be possible to mock this up?
We might also need this info in the partner overview, but will confirm this  later.

[2018-01-10 18:15] mpawlowski85 commented on #998
This will replace the current "My Partnerships" bit on the "Personalized" Tab

[2018-01-10 18:21] evrimm commented on #996
@mpawlowski85 I was thinking displaying it in the Fund Reservation card under Review and Sign as there is quiet a bit of space as there is nothing except the FR number. It would be useful for the user to see some more data about FR number as a confirmation that they have entered the right FR number.
In the PD overview, we call the card Implementation Status and show how much of the FR has been uti

[2018-01-10 18:52] mpawlowski85 commented on #840
@robertavram I was able to reproduce this based on steps as described above

[2018-01-11 11:08] adi130987 opened #1100 "etools-profile-dropdown element - Polymer 2 migration"

[2018-01-11 14:46] robertavram opened #1101 "Validation infrastructure change for PDs and Agreement"
allow for nested fields to be required. (example sections in results links for PDs)

[2018-01-11 17:28] robertavram commented on #999
As per discussion with Marcin.. Action points development will be pushed after Action Points module will be delivered.

[2018-01-11 19:22] acory opened #1102 "Apply polymer 2 changes that are compatible with polymer 1"
- If you're using the :root selector inside an element's template, replace it with:
:host > * { ... }
If you're using :root selection inside a custom-style, replace it with the html selector. ---DONE in PR #657
- Update custom property syntax :
color: var(--special-color,--default-color); -> color: var(--special-color, var(--default-color));
@apply(--my-mixin); -> @apply --my-mixin;
- Remove Polym

[2018-01-12 15:34] domdinicola opened #1103 "PMP Indicator Report 2017"
Due upcoming eTools board meeting is requested a report for all interventions in all workspaces as of 31 Dec 2017

[2018-01-12 15:37] domdinicola commented on #1103
country
partner name
PD/SSFA ref
PD/SSFA status
PD/SSFA start date
PD/SSFA end date
UNICEF US$ cash contribution
UNICEF US$ Supply contribution
FR numbers against PD/SSFA
Sum of all FR planned amount
core value attached (true/false)

[2018-01-13 11:03] reinbach opened #1104 "Monitoring test coverage"
Increase test coverage in monitoring app

See #645

[2018-01-15 12:43] roxanavlad commented on #1071
test result: pass
tested on different work-spaces in demo environment - Chrome and IE 11

[2018-01-15 18:59] robertavram commented on #1043
depends on #1101

[2018-01-15 20:38] robertavram commented on #840
OK, found it.. this logic is valid to all Agreements correct? not just MOU.
If you have an end date in the past, the draft will not transition through its states.

On your step 5:
Save. MOU Ref is generated, and MOU is created with status Draft. Shouldn't it have been created with Status = 'Signed'?
I believed you are asking if it shouldn;t have been created with status "Ended" not signed.

easy f

[2018-01-15 21:42] janpanchalingam1 opened #1105 "Purchase Order API for Auditor Portal"
POs in the API are not found when using them in the auditor portal and creating an engagement. For example: PO 432181773, PO 0043222744, PO 0043240346 are in the API but they are not found when entered in auditor portal.

[2018-01-16 08:07] roxanavlad commented on #1059
test result: pass
tested on demo environment on Google Chrome and IE11, only instead of the disabling the Add Reporting Requirement button on the upper-left hand corner of the section, the tab Partner Reporting Requirements is not displayed until the PD/SSFA is saved

[2018-01-16 11:20] reinbach opened #1106 "Reports test coverage"
Increase test coverage in reports app

See #645

[2018-01-16 16:11] reinbach commented on #246
DjangoSAML2 has been resolved see https://github.com/unicef/etools/pull/1129, waiting for that pull request to be merged, before we can mark that as done

[2018-01-17 15:56] robertavram opened #1107 "FE Section and locations changes"
Sections and Locations are now selectable at the PD level regardless of flag.

When selecting an indicator .. the options for sections and locations are only available from the sections and locations of the "orginalIntervention" Object. (Not available prior to saving the record)

Validation on BE is card #100000

[2018-01-17 15:59] robertavram opened #1108 "FE Sections and locations"
Indicators have section as mandatory,

locations and sections are validated against the pd locations and sections.. if a section is selected that is not on the PD this will result in an error.

[2018-01-17 16:09] aldohunicef commented on #1037
This keeps happening

[2018-01-17 16:34] marindikanovic opened #1109 "Error in Overview Tab of Partners page"
In the "HACT Assurance & Partnerships" card in the Overview Tab (Partners Page), there seems to be an "object Object" error for those Programmatic Visits and Spot Checks done. Please see screenshot below.

[2018-01-17 16:34] marindikanovic commented on #1109
![error](https://user-images.githubusercontent.com/29664134/35054387-69d108b2-fb7a-11e7-891e-5265b55931a8.png)

[2018-01-17 16:36] ntrncic commented on #1109
@marindikanovic we do not assign engineers in the inbox. usually once a card is prioritized, then we would assign engineers to the card.

[2018-01-17 16:37] marindikanovic commented on #1109
ok, got it. thanks

[2018-01-17 21:52] janpanchalingam1 commented on #875
Unable to replicate issue. Marked as invalid.

[2018-01-17 21:52] #875 closed

[2018-01-18 19:51] janpanchalingam1 opened #1110 "Permission Matrix changes for Auditor Portal"
Please see attached change request submitted to Razor Theory to make modifications to the permissions matrix to allow Staff to complete Spot Checks in the Auditor Portal.

[2018-01-18 20:42] KKaselkar opened #1111 "Add CP structure details in PRP"
Add CP structure details to PRP on Programme documents page under PD / SSFA details

CP Structure field must replace the current "In response to an HRP" field on the PD or SSFA details card under Programme documents in PRP

[2018-01-18 21:25] janpanchalingam1 commented on #1110
[eTools Auditor Portal_ Spot Check Permission Change Proposal by Razor Theory Dec 21.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58c70d905ee3431a00026493/125516c66e82c728ace21e0d46eda0952c8e90e9aefcbb4ab052e2d41949356728089c6b4395ec3cff6173040c045ecc141a021dbfbad074f8a64f28db025cb8c10d1d2b866252fde4924df611d871c110c7a6d8d2199faa743593dedc5f3c1f17049bbf1f6afacc188c4afc5

[2018-01-19 13:04] daniel-tabarcea commented on #1066
So after discussing this with Rob we also need to change the way PD/SSFA amendments are handled.
The amendments will be created with a separate call to  `/api/v2/interventions/<pd id>/amendments/` ;
Because of this, we need to make a new dialog in witch to make the amendment, similar to the one from Expected Results

[2018-01-19 13:53] ntrncic commented on #1109
we have changed the structure of the fact son field. Frontend need to change the referenced fields. @daniel-tabarcea

[2018-01-19 15:35] evrimm commented on #1066
@daniel-tabarcea @adi130987 Rob mentioned that there would be design changes on Amendment mode. Can you check with me/show me before it is pushed? Also with any other card such as the #1026. Thank you!

[2018-01-19 15:37] daniel-tabarcea commented on #1066
Sure, we'll check with you before pushing anything. Thanks!

[2018-01-22 12:56] roxanavlad commented on #1021
test result: pass
tested on demo environment on Google Chrome

[2018-01-22 12:56] roxanavlad commented on #1022
test result: pass
tested on demo environment on Google Chrome

[2018-01-22 14:06] acory opened #1112 "Pd details error on staging"
-Go to any Pd details
-Problem : page remains in Loading state and there's a console error:

app-shell.html:3021 Uncaught TypeError: Cannot read property 'selectionStart' of null
   at HTMLElement._onInternalValueChange (intervention-details.html:754)
   at HTMLElement._observerEffect (app-shell.html:4722)
   at HTMLElement._effectEffects (app-shell.html:4567)
   at HTMLElement._propertySetter (ap

[2018-01-22 14:21] roxanavlad commented on #1013
test result: pass
tested on demo environment on Google Chrome and IE11

[2018-01-22 14:56] adi130987 commented on #1107
what happens with `See all locations` button that opens locations modal  grouped on admin levels? Will it be displayed next to the locations dropdown or will be removed from here?

[2018-01-22 14:59] adi130987 commented on #1107
[Uploading see-all-locations.png...]

[2018-01-22 15:55] robertavram commented on #1107
next to the dropdown should be fine

[2018-01-22 18:38] aldohunicef commented on #434
@domdinicola Please confirm if this will be part of the next release. We have received messages that staff are assigned to UAT and not the corresponding workspace. Fanks

[2018-01-22 20:00] mpawlowski85 commented on #840
@robertavram
we should be able to create MoUs only in ended status.
for PCAs, all validations must pass to transition through the statuses. So if you create a PCA with a date in the past, the status should change to ended only if all of the validations are met.

[2018-01-22 20:52] mpawlowski85 commented on #1099
this can be potentially combined with #966

[2018-01-23 15:26] domdinicola commented on #434
Not possible to retrieve profile for consultants.
We will have to check the mapping.
Please provide 3/4 names in order to double check this issue

[2018-01-23 15:27] aldohunicef commented on #434
Here are the names
1. Boniface Kalanda (bkalanda@unicef.org<mailto:bkalanda@unicef.org>) ; Chief on PM&E,
2. Mohanad Shallal (mshallal@unicef.org<mailto:mshallal@unicef.org>) (Implementing Partnership Management Officer (NOB)

[2018-01-23 15:29] aldohunicef commented on #434
@robertavram is to check if the script is ACTIVE in production for user creation @marindikanovic @domdinicola

[2018-01-23 15:30] marindikanovic commented on #1037
this is part of the  feature gating February push to production

[2018-01-23 15:31] #1007 closed

[2018-01-23 15:31] #923 closed

[2018-01-23 15:47] marindikanovic opened #1114 "Create admin 0 and link it to admin 1"
Create admin 0 manually and link to admin 1.

[2018-01-23 19:41] domdinicola opened #1115 "Retry vision task if fail"

[2018-01-23 19:44] domdinicola commented on #1115
http://docs.celeryproject.org/en/latest/userguide/tasks.html#automatic-retry-for-known-exceptions

[2018-01-23 20:03] drzackyll commented on #1004
@evrimm i have this set up and ready to insert the image file

[2018-01-24 15:00] dpoirier commented on #1115
For Celery 3.1: http://docs.celeryproject.org/en/3.1/userguide/tasks.html#retrying

[2018-01-24 15:03] dpoirier commented on #1115
There are a half-dozen tasks in the vision app.  Do all of them need to be retried on failure, or is this issue specific to a particular task?

[2018-01-24 15:19] domdinicola commented on #1115
I was thinking about the sync_handler, but you can do that on all tasks.

[2018-01-24 15:22] domdinicola commented on #1115
can you pleases remove the vision.tasks sync function, it's obsolete and has been replaced.

[2018-01-24 15:43] dpoirier commented on #1115
How about fake_task_delay, fake_task_nodelay, or cost_assignment_sync?  I'm not seeing anywhere those get used either?

[2018-01-24 15:49] domdinicola commented on #578
we have to think about a way to manage passwords and keys

[2018-01-24 15:55] domdinicola opened #1116 "Upgrade to postgres 9.6"

[2018-01-24 16:24] vkurup commented on #578
After chatting a bit with Dom, my understanding is that deployments are currently done via editing a stack file in the Docker Cloud web interface, and then using the interface to manage the deployment. While this works, it would be desirable to have the stack files managed in version control, likely in a private Github repo, using the Docker cloud to manage the deployments via a command line inter

[2018-01-24 16:40] janpanchalingam1 commented on #1109
Passed testing

[2018-01-24 16:45] ewheeler commented on #578
our threat model probably doesn't necessitate much more than a private github repo, but keybase offers properly encrypted git repositories: https://keybase.io/blog/encrypted-git-for-everyone

[2018-01-24 17:37] dpoirier commented on #1115
update_all_partners does not appear to be used either.

[2018-01-24 17:57] janpanchalingam1 commented on #971
Passed testing

[2018-01-24 22:20] domdinicola opened #1117 "Integrate Graph API for user synchronization"

[2018-01-24 22:44] domdinicola commented on #434
can you please tests this in staging and if possible double check with those users (ask to login in STAGING)

[2018-01-25 11:29] acory commented on #1026
@evrimm @mpawlowski85 @robertavram A version of the new design is available in demo env. Let us know if it's ok that the CP output+ Ram Indicators row is collapsible  or any other changes that need to be done

[2018-01-25 11:30] adi130987 commented on #1107
Are the new sections and locations fields(in PD details) required in this case (based on PD status)?
We might need permissions matrix changes for this for `locations` and `flagged_sections`.

[2018-01-25 12:16] daniel-tabarcea commented on #1066
@evrimm The design liked above for the Amendments section does not have the "Other" field. What should we do with it?

[2018-01-25 12:28] dpoirier commented on #850
Note to myself: need to wait until migrations have been squashed to remove dependencies on the migrations in these apps.

[2018-01-25 12:37] adi130987 commented on #1066
@daniel-tabarcea "Other" field should not be removed. Probably will show on the next line.

[2018-01-25 13:40] dpoirier commented on #1116
FYI the latest Postgres available on Ubuntu 16.04 (without adding a PPA) is 9.5, which is still in support until January 2021. I don't know how etools is hosted, but if it's using the latest Ubuntu LTS, we might just want to wait until we're ready to switch to Ubuntu 18.04.

[2018-01-25 13:43] reinbach opened #1118 "Improve Vision app test coverage"
Add more tests

See #645

[2018-01-25 14:10] vkurup commented on #578
Interesting! Hadn't heard of keybase's offering before.

[2018-01-25 15:43] evrimm commented on #1066
@daniel-tabarcea @adi130987 sorry, I am not sure what "Other" field you are referring to. Can you please explain?

[2018-01-25 15:48] adi130987 commented on #1066
![screenshot from 2018-01-25 17-47-27](https://user-images.githubusercontent.com/1955740/35397343-e72b607c-01f7-11e8-8160-f4dd26323ddb.png)

[2018-01-25 16:12] evrimm commented on #1066
Thanks @adi130987, yes my intention wasn't to remove the "Other" text field, please have it shown if Amendment Type is selected as "Other", just as you have it now. @daniel-tabarcea

[2018-01-25 16:16] adi130987 commented on #1066
@evrimm... Daniel was referring to the new design, table view. The 'other' field value is not reflected in design... It could be a new column, a collapsible area just like the main lists

[2018-01-25 16:34] evrimm commented on #1066
I see...
Can you change the title of the open text field to: If "Other", specify
And in the table, let's put it in a new column and label the column:  If "Other"

[2018-01-25 17:17] mpawlowski85 commented on #1026
@acory SO far so good! looks good.
I am assuming that you guys are still working on it, as there are some bugs. I think that @evrimm might have some comments, but the business owners are happy with the way it looks.

[2018-01-25 17:26] janpanchalingam1 commented on #948
Requires new API

[2018-01-25 17:27] janpanchalingam1 commented on #950
Requires new api. Should we move this back to on-deck or should i create a new card?

[2018-01-25 17:29] evrimm commented on #1026
@acory it is looking great! A few minor requests from my side are below.

Functional issues:
- There is no trash icon for indicators, hence the user can not delete the indicator. Also, when editing an indicator, the Indicator Type and Display Type become uneditable although still in draft state. @mpawlowski85 was this a business decision?

Design related:
- After you add CP Output and the Indicato

[2018-01-25 17:37] mpawlowski85 commented on #1026
no - there should be a possibility to delete a single indicator. The type and display type should also be editable in draft (also, please note that display type only shows up in the type is percent/ratio

[2018-01-25 18:05] janpanchalingam1 commented on #942
Passed testing

[2018-01-25 18:06] janpanchalingam1 commented on #946
Passed testing

[2018-01-25 18:08] janpanchalingam1 commented on #955
Passed testing

[2018-01-25 18:09] janpanchalingam1 commented on #954
Failed testing. Not showing 'Unsupported Amount' property.

[2018-01-25 18:11] janpanchalingam1 commented on #851
Field 1.1.1: Implementing Partners - show partners that have received a cash transfer between 1 October and 30 September (TOTAL_CASH_TRANSFERRED_CY>0) Failed Testing. Partners showing in HACT Dashboard which have not received cash transfers.

Workspace: Sudan
Partner: MINISTRY OF ENDOWMENT,GUIDANCE & PREACHING - 2500224805
Last cash transfer was in 2014 but is showing in dashboard.

[2018-01-25 18:12] janpanchalingam1 commented on #953
Failed Testing. Should count special audits as well as audits. Not counting special audits or audits.

[2018-01-25 18:15] janpanchalingam1 commented on #956
Passed testing

[2018-01-25 18:16] janpanchalingam1 commented on #951
Can only test for Trips and Auditor  - Failed Testing as it is not counting auditor portal spot checks.

[2018-01-25 18:16] janpanchalingam1 commented on #957
Failed testing due to #951

[2018-01-25 18:18] janpanchalingam1 commented on #965
Failed testing due to #951

[2018-01-25 18:20] janpanchalingam1 commented on #961
Removing 'Previous Year' as there is no data from 2017 to display. To be included in specifications at the end of 2018.

[2018-01-25 18:22] janpanchalingam1 opened #1119 "Shared IP does not update"
Workspace: Sudan

Updated PMP/partners and added ‘shared partners’, HACT dashboard does not update.

[2018-01-25 18:26] janpanchalingam1 opened #1120 "PMP Planned Visits not updating in HACT"
Workspace: Sudan
Partner/PD: ADDITION FOR DISASTER ASSISTANCE AND DEVELOPMENT: SUD/PCA2017225/PD2017320

Added Planned Visits for 2017 and 2018 in PMP, does not update in HACT dashboard.

[2018-01-25 18:27] ntrncic commented on #951
@janpanchalingam1 once cards are in staging and failed testing. we will pick them up from staging and put them back to on deck for developers to work on them. It shouldn't be prioritized again.

[2018-01-25 18:28] janpanchalingam1 commented on #951
@ntrncic I didn't move them. I thought one of you were. I have been tagging them only in staging.

[2018-01-25 18:28] domdinicola commented on #1119
are you referring to staging, right?

[2018-01-25 18:38] janpanchalingam1 commented on #1119
Yes all testing in staging.

[2018-01-25 19:02] domdinicola commented on #851
the criteria has not been changed here:
we filter the partners if TOTAL_CASH_TRANSFERRED_CY>0 OR if TOTAL_CASH_TRANSFERRED_CP>0).
if this criteria has been changed please open a new ticket or please show me where is this requirement.

[2018-01-25 19:17] ntrncic commented on #851
We changed this logic in October 2017 to include partners with total_ct_cp > 0. This is because the new hact year started and most partners had total_ct_cy = 0 therefore weren't showing on the dashboard. If we change the code back to only have condition total_ct_cy >0 , the consequences are that in October 2018 those partners will not show up in hact anymore. Maybe we should use the new field tota

[2018-01-25 19:27] domdinicola commented on #943
from @janpanchalingam1  email: 943 – Failed testing – not showing all partners with flag with last assessment year > 4 years (ie. ALASALAM ORGANIZATION FOR REHAB…, AMERICAN REFUGEE COMMITTEE INTL, AUTASH ASSOCIATION FOR PEACE AND DEVELOPMENT, CENTRAL BUREAU OF STATISTICS KHARTOUM)

[2018-01-25 19:30] domdinicola commented on #943
- ALASALAM ORGANIZATION FOR REHAB: can't find this partner
- AMERICAN REFUGEE COMMITTEE INTL Last assessment date: Oct. 23, 2014, here has not been yet 4 years

[2018-01-25 20:16] domdinicola commented on #1119
please Zack refer to shared_with field: it's a list so null means no, list means yes

[2018-01-25 20:22] LJonnalagadda opened #1121 "Recurring Task - Fetch analytics data"
To understand the adoption of eTools across regions and report on a periodic basis. In order to collate data, we would need analytics from PMP by country. This task is to fetch data on the 1st of each month for the previous month.